
<div class="navbar navbar-expand-sm navbar-light navbar-home navbar-lewagon space-between sticky-top">
  <div class="container-nav-home">
    <div class="d-flex">
      <%= link_to root_path, class: "navbar-brand mt-1" do %>
      <h2 class = "title mt-2"><strong><span style='color: #EE8572'>k</span>oobo</strong></h2>
      <% end %>
    </div>
      <div class="d-flex bd-highlight">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                  <%= link_to "Votre espace personnel", flats_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">

                  <% if current_user.photo.attached? %>
                    <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% else %>
                    <%= image_tag ("avatar.png"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% end %>

                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                  </div>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
                </li>
              <% end %>
          </ul>
        </div>
      </div>
  </div>
</div>
<div class="container signup-container">
  <div class="form-login">
    <h2>Créer un compte</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "Mot de passe" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "Confirmer le mot de passe" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Créer un compte", class: "btn koobo-button" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
    <img src="/login.png" alt="" class="image-login">
</div>
