<div class="dashboard-data-set" data-line="appartements">
  <div class="d-flex">
    <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules} %>
    <%= render 'shared/bottom_nav'%>
    <div style=" width:100%; position:relative;">
      <%= render partial: 'shared/navbar_dashboard', locals: { page_title: 'Appartements', notif_counter: @counter} %>
      <div class="flows">
        <div class="info-flow grey-box">
          <p>Infos paiements locataires</p>
        </div>
        <div class="add-flow grey-box">
          <h3>Ajouter ou supprimer un élément</h3>
          <%= link_to new_flat_path, class: "button-add-flow" do %>
            <i class="fas fa-plus-circle fa-flat" title="Ajouter un flux"></i>
          <% end %>
          <%= link_to new_flat_path, class: "button-remove-flow" do %>
            <i class="fas fa-minus-circle fa-flat" title="Supprimer un flux"></i>
          <% end %>
        </div>
        <div class="all-flows grey-box">
          <div class="flows-details">
            <div class="details">
              <div class="incomes">
                <p>Revenus</p>
                <%= @incomes %> €
              </div>
              <div class="spendings">
                <p>Dépenses</p>
                <p><%= @spendings %> €</p>
              </div>
              <div class="total">
                <p>Solde</p>
                <p><%= @incomes - @spendings %> €</p>
              </div>
            </div>
          </div>
          <div class="flows-details">
            <% @flows.each do |flow| %>
              <div class="details dark-grey-boxes">
                <p><%= flow.title %></p>
                <p><%= flow.renting.flat.name %></p>
                <p><%= flow.payment_date.strftime("%d/%m/%Y") %></p>
                <p><%= flow.amount %> €</p>
              </div>
            <% end %>
            <%= will_paginate(@flows, :previous_label => t("précédent"), :next_label => t("suivant"), :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
          </div>
        </div>
        <div class="flat-flows grey-box">
          Flows appartements
        </div>
      </div>
    </div>
  </div>
</div>
