<% if current_user.renter == true %>
  <div class="dashboard-data-set" data-line="accounting">
    <div class="screen-container">
      <div class="dashboard-container full">
        <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules} %>
      </div>
      <div class="nav-container full">
        <h3>Ma comptabilité</h3>
        <%= render partial: 'shared/navbar_dashboard', locals: { page_title: 'Documents', notif_counter: @counter} %>
      </div>
      <div class="content-container full">
        <div class="flows">
          <div class="info-flow">
            <div class="card-positioning">
              <h3>Paiement des loyers</h3>
              <% if @flats_rented == [] %>
                <p>Vous n'avez pas encore de bien en location</p>
              <% end %>
              <div class="renting-part">
                <% @flats_rented = [] %>
                <% @all_rents_payed = [] %>
                <div class="rents-details">
                  <% @flats.each do |flat| %>
                    <% @renting = flat.rentings.find_by(status: "current") %>
                    <% @flats_rented << flat if @renting %>
                    <% if @renting && rent_payed?(flat) %>
                      <div class="card-small-one-line">
                        <p><%= @renting.renting_folder.users.first.first_name %>  a bien payé son loyer de month</p>
                        <%= link_to "Remercier", "#", class: "koobo-button" %>
                      </div>
                    <% end %>
                    <% if @renting && !rent_payed?(flat) %>
                      <div class="card-small-one-line">
                        <p><%= @renting.renting_folder.users.first.first_name %> n'a pas encore payé son loyer de month</p>
                        <%= link_to "Relancer", "#", class: "btn-card border btn-pending-full" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="rents-stats">
                  <div class="circle-progression">
                    <% unless (@flats_rented.length * 100) == 0 %>
                      <h3><%= @all_rents_payed.length / @flats_rented.length * 100 %> %</h3>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="add-flow">
            <div class="card-positioning">
              <h5>Ajoute une dépense ou un loyer</h5>
              <button type="button" class="button-flow" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-plus-circle fa-flat button-flow" title="Ajouter un flux"></i>
              </button>
            </div>
          </div>
          <div class="all-flows">
            <div class="card-positioning">
              <div class="all-flows--header">
                <div class="total">
                  <h3>Solde</h3>
                  <h3 class="green-numbers"><%= @incomes - @spendings %> €</h3>
                </div>
                <div class="incomes">
                  <h5>Revenus</h5>
                  <h5 class="green-numbers" id="income-number"><%= @incomes %> €</h5>
                </div>
                <div class="spendings">
                  <h5>Dépenses</h5>
                  <h5 id="spending-number"><%= @spendings %> €</h5>
                </div>
              </div>
              <div class="all-flows--body">
                <div class="details-flows--header">
                  <p>Date</p>
                  <p>Libellé</p>
                  <p>Type</p>
                  <p>Montant</p>
                </div>
                <% @flows.each do |flow| %>
                  <div class="details-flows--body">
                    <div class="card-accounting">
                      <p><%= flow.payment_date.strftime("%d/%m/%Y") %></p>
                      <div class="card-accounting--description">
                        <p><%= flow.title %></p>
                        <p><%= flow.renting.flat.name %></p>
                      </div>
                      <% if flow.category == "revenu" %>
                        <p class="label-small label-income"><%= flow.category.capitalize %></p>
                        <p><%= flow.amount %> €</p>
                      <% else %>
                        <p class="label-small label-spending"><%= flow.category.capitalize %></p>
                        <p><%= - flow.amount %> €</p>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <div class="details-flows--footer">
                  <%= will_paginate(@flows, :previous_label => t("précédent"), :next_label => t("suivant"), :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
                </div>
              </div>
            </div>
          </div>
          <div class="flats-flows ">
            <div class="card-positioning">
              <div class="flat-flows-container">
                <div class="flats-flows--body">
                  <% @flats.each do |flat| %>
                    <div class="flat-flows-disposition">
                      <h4 class="flat-flows-disposition--header"><%= flat.name %></h4>
                      <div class="flat-flows-disposition--body">
                        <div class="flat-flows-section total">
                          <h5>Solde</h5>
                          <h class="green-numbers"><%= flat.flat_earnings + flat.flat_spendings%> €</h6>
                        </div>
                        <div class="flat-flows-section incomes">
                          <h6>Revenus</h6>
                          <h6 class="green-numbers" id="income-number"><%= flat.flat_earnings %> €</h6>
                        </div>
                        <div class="flat-flows-section spendings">
                          <h6>Dépenses</h6>
                          <h6 id="spending-number"><%= flat.flat_spendings %> €</h6>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="dashboard-data-set" data-line="accounting">
    <div class="screen-container">
      <div class="dashboard-container full">
        <% if user_current_renting?(current_user) %>
          <%= render partial: 'shared/dashboard_tenant', locals: { renting: user_current_renting(current_user)} %>
        <% else %>
          <%= render partial: 'shared/dashboard_tenant', locals: { renting: "empty" }%>
        <% end %>
      </div>
      <div class="nav-container full">
        <%= render partial: 'shared/navbar_dashboard', locals: { notif_counter: @counter} %>
      </div>
      <div class="content-container full">
      </div>
    </div>
  </div>
<% end %>
<%= render partial: "shared/new_flow_form" %>
