<% unless current_user.renter == true %>
  <div class="dashboard-data-set" data-line="my-askings">
    <div class="screen-container">
      <div class="dashboard-container full">
        <% if user_current_renting?(current_user) %>
          <%= render partial: 'shared/dashboard_tenant', locals: { renting: user_current_renting(current_user)} %>
        <% else %>
          <%= render partial: 'shared/dashboard_tenant', locals: { renting: "empty" }%>
        <% end %>
      </div>
      <div class="nav-container full">
        <%= render partial: 'shared/navbar_dashboard', locals: { notif_counter: @counter} %>
      </div>
      <div class="content-container full">
        <div class="disposition-index-visit">
          <div class="disposition-index-visit--left">
            <div class="card-positioning">
              <h2>Mes demandes</h2>
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">En Attente</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Acceptée(s)</a>
                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Refusée(s)</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <%= render partial: 'shared/cards_visit_index_visit', locals: {status: 'pending', visits: @visits} %>
                  <%= render partial: 'shared/cards_renting_folder_index_visit', locals: {status: 'pending', renting_folders: @renting_folders} %>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <%= render partial: 'shared/cards_visit_index_visit', locals: {status: 'accepted', visits: @visits} %>
                  <%= render partial: 'shared/cards_renting_folder_index_visit', locals: {status: 'accepted', renting_folders: @renting_folders} %>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                  <%= render partial: 'shared/cards_visit_index_visit', locals: {status: 'denied', visits: @visits} %>
                  <%= render partial: 'shared/cards_renting_folder_index_visit', locals: {status: 'denied', renting_folders: @renting_folders} %>
                </div>
              </div>
            </div>
          </div>
          <div class="disposition-index-visit--right">
            <div class="card-positioning">
              <!-- <h1>hello</h1> -->
              <div id="map"
                data-markers="<%= @markers.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
