        <div class="card-locataire">
          <div class="container">
            <% if @flat.rentings&.last&.user.nil? %>
              <h3>Où est votre annonce</h3>
              <div class="center-card-locataire">
                <ul>
                  <div class="card-locataire-inside">
                    <li> PAP </li>
                    <li>
                      <% if @flat.pap == true %>
                        <i class="fas fa-check"></i>
                      <% else %>
                        <i class="fas fa-times"></i>
                      <% end %>
                      </li>
                  </div>
                  <div class="card-locataire-inside">
                    <li> Leboncoin </li>
                    <li>
                      <% if @flat.leboncoin == true %>
                        <i class="fas fa-check"></i>
                        <% else %>
                          <i class="fas fa-times"></i>
                      <% end %>
                      </li>
                  </div>
                  <div class="card-locataire-inside">
                    <li> Seloger </li>
                    <li>
                      <% if @flat.seloger == true %>
                         <i class="fas fa-check"></i>
                      <% else %>
                        <i class="fas fa-times"></i>
                      <% end %>
                    </li>
                  </div>
                  <div class="card-locataire-inside">
                    <li> Bienici </li>
                    <li>
                      <% if @flat.bienici == true %>
                        <i class="fas fa-check"></i>
                      <% else %>
                        <i class="fas fa-times"></i>
                      <% end %>
                    </li>
                  </div>
                  <div class="card-locataire-inside mt-4">
                    <%= link_to "Modifier", edit_flat_path(@flat), class: 'delete-link' %>
                    <%= link_to "Supprimer l'annonce", '#',class: "delete-link" %>
                  </div>
                </ul>
              </div>
            <% else %>
              <% if @flat.rentings&.last&.user&.photo&.attached?  %>
                <%= cl_image_tag @flat.rentings.last.user.photo.key, class: 'avatar-extra-large' %>
              <% else %>
                <%= image_tag ("avatar.png"), class: "avatar-extra-large" %>
              <% end %>
              <h3><%= @flat.rentings.last.user.first_name %> <%= @flat.rentings.last.user.last_name %></h3>
              <div class="center-card-locataire">
                <ul>
                  <li>
                    <p> <strong>Locataire depuis <%= ((Time.now - @flat.rentings.last.created_at) / 86400).to_i %> jours</strong></p>
                  </li>
                  <li>
                    <p>Tél : <%= @flat.rentings.last.user.phone_number %></p>
                  </li>
                  <li>
                    <p>Mail : <%= @flat.rentings.last.user.email %></p>
                  </li>
                </ul>
                <div class ="bouton-locataire"><%= link_to "Echanges", '#', class: 'koobo-button' %></div>
              </div>
            <% end %>
          </div>
        </div>
