<div class="dashboard-data-set" data-line="appartements">
  <div class="d-flex">
    <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules, documents: @documents} %>
    <div style=" width:100%;">
      <%= render partial: 'shared/navbar_dashboard', locals: { page_title: 'Appartements'}%>
      <div class="container">
        <h3>Récapitulatif de votre annonce</h3>
        <h5><%= @flat.name %> - <%= @flat.surface.round %> m² - <%= @flat.monthly_price.round %> €/mois</h5>
        <h6><%= @flat.description %></h6>
        <p>Charmant appartement situé au <%= @flat.floor %> er/ème étage de l'immeuble situé <%= @flat.address %>.</p>
        <p>L'appartement mesure <%= @flat.surface.round %> m² et est composé de <%= @flat.number_of_rooms %> pièce(s) dont <%= @flat.number_of_bedrooms %> chambre(s).</p>
        <% if @flat.furnished %>
           <p> Il est meublé
         <% else %>
           <p> Il est non-meublé
        <% end %>
        <% if @flat.elevator || @flat.balcony || @flat.parking || @flat.cellar %>
           <span>et donne accès aux commodités suivantes :</span>
           </p>
           <ul>
        <% end %>
        <% if @flat.elevator %>
          <li>Ascenseur</li>
        <% end %>
        <% if @flat.balcony %>
          <li>Balcon</li>
        <% end %>
        <% if @flat.parking %>
          <li>Parking</li>
        <% end %>
        <% if @flat.cellar %>
          <li>Cave</li>
        <% end %>
          </ul>
         <a href="#" id= "lien-visite"><em>Visiter cet appartement</em></a>
        <div class="container-new-form">
          <%= simple_form_for @flat do |f| %>
          <div class="special-form" id="special-radio">
              <span class="form-part radio-part"><%= f.input :leboncoin, label: "Le Bon Coin", as: :boolean %></span><span class="form-part radio-part"><%= f.input :bienici, label: "Bien Ici", collection: ["Oui", "Non"], as: :boolean %></span><span class="form-part radio-part"><%= f.input :seloger, label: "Se Loger", collection: ["Oui", "Non"], as: :boolean %></span><span class="form-part radio-part"><%= f.input :pap, label: "PAP, Particulier à Particulier", collection: ["Oui", "Non"], as: :boolean %></span>
          </div>
          <%= f.submit "Modifier l'annoncer", id: "edit-pub-btn" %>
          <%= f.submit "Valider l'annonce", id: "edit-pub-btn" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
