<div class="dashboard-data-set" data-line="appartements">
  <div class="d-flex">
    <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules, documents: @documents} %>
    <div style=" width:100%;">
      <%= render partial: 'shared/navbar_dashboard', locals: { page_title: 'Appartements'}%>
      <div class="container my-container">
        <h3 id="titre-recap">Récapitulatif de votre annonce</h3>
        <% if @flat.photos.attached? %>
          <div class="card-flat">
            <div class="card-trip" id="my-carousel">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <%= cl_image_tag @flat.photos[0].key, class: "d-block w-100 image", style: "height: 300px"%>
                  </div>
                  <% @flat.photos[1..@flat.photos.count].each do |photo| %>
                    <div class="carousel-item ">
                      <%= cl_image_tag photo.key, class: "d-block w-100 image", style: "height: 300px"%>
                    </div>
                  <% end %>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <h5><%= @flat.name %> - <%= @flat.surface.round %> m² - <%= @flat.monthly_price.round %> €/mois</h5>
        <h6><%= @flat.description %></h6>
        <p>Charmant appartement situé au <%= @flat.floor %> er/ème étage de l'immeuble situé <%= @flat.address %>.</p>
        <p>L'appartement mesure <%= @flat.surface.round %> m² et est composé de <%= @flat.number_of_rooms %> pièce(s) dont <%= @flat.number_of_bedrooms %> chambre(s).</p>
        <p>Le chauffage est <%=  @flat.heating_system[1] %> et  <%=  @flat.heating_system[2] %> </p>
        <% if @flat.furnished %>
           <p> Il est meublé
         <% else %>
           <p> Il est non-meublé
        <% end %>
        <% if @flat.elevator || @flat.balcony || @flat.parking || @flat.cellar %>
           <span>et donne accès aux commodités suivantes :</span>
           </p>
           <ul>
        <% end %>
        <% if @flat.elevator %>
          <li>Ascenseur</li>
        <% end %>
        <% if @flat.balcony %>
          <li>Balcon</li>
        <% end %>
        <% if @flat.parking %>
          <li>Parking</li>
        <% end %>
        <% if @flat.cellar %>
          <li>Cave</li>
        <% end %>
          </ul>
         <a href="#" id= "lien-visite"><em>Visiter cet appartement</em></a>
        <div class="container-new-form">
          <%= simple_form_for @flat, url: update_publication_path(@flat), method: :patch do |f| %>
          <div class="special-form" id="special-radio">
              <span class="form-part radio-part"><%= f.input :leboncoin, label: "Le Bon Coin", as: :boolean %></span><span class="form-part radio-part"><%= f.input :bienici, label: "Bien Ici", collection: ["Oui", "Non"], as: :boolean %></span><span class="form-part radio-part"><%= f.input :seloger, label: "Se Loger", collection: ["Oui", "Non"], as: :boolean %></span><span class="form-part radio-part"><%= f.input :pap, label: "PAP, Particulier à Particulier", collection: ["Oui", "Non"], as: :boolean %></span>
          </div>
          <%= link_to "Modifier l'annonce", edit_flat_path, id: "edit-pub-btn" %>
          <%= f.submit "Valider l'annonce", id: "edit-pub-btn" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
