<div class="dashboard-data-set" data-line="appartements">
  <div class="container-flex">
    <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules} %>
    <div style=" width:100%;">
      <div class="container">
        <div class="step-form">
          <ul id="progressbar">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <%= simple_form_for @flat do |f| %>
          <div class="special-form">
            <span class="form-part">Je nomme mon appartement</span><span class="form-part"><%= f.input :name, label: false, placeholder: "Titre", input_html: { id: "my-name-input"} %></span><span class="form-part">.</span>
          </div>
          <div class="special-form line-2">
            <span class="form-part">Il est au</span><span class="form-part"><%= f.input :floor, label: false, placeholder: "N étage", id: "floor_number", input_html: { id: "my-floor-input"} %></span><span class="form-part"> <span id="coucou"></span> étage de l'immeuble</span>
          </div>
          <div class="special-form line-12">
            <span class="form-part"> <span></span>situé</span><div class="form-part"><%= f.input :address, label: false, id: "flat_address", placeholder: "Adresse", input_html: { class: "my-address-input"} %></div><span class="form-part">.</span>
          </div>
          <div class="special-form line-3">
            <span class="form-part">Il a une superficie de </span><span class="form-part"><%= f.input :surface, label: false, placeholder: "Superficie", input_html: { id: "my-size-input"} %></span><span class="form-part"> m².</span>
          </div>
          <div class="special-form line-4">
            <span class="form-part">Je souhaite le louer pour</span><span class="form-part"><%= f.input :monthly_price, label: false, placeholder: "Loyer mensuel", input_html: { id: "my-rent-input"} %></span><span class="form-part"> €/mois.</span>
          </div>
          <div class="special-form line-5">
            <span class="form-part">Il est composé de </span><span class="form-part"><%= f.input :number_of_rooms, label: false, placeholder: "N pièces" %></span><span class="form-part"> <span  id="hello">pièces</span>, dont </span><span class="form-part"><%= f.input :number_of_bedrooms, label: false, placeholder: "N chambres", input_html: { id: "my-bedroom-input"} %></span><span class="form-part"><span id="hi">chambres</span>.</span>
          </div>
          <div class="special-form line-6">
            <span class="form-part" id="heating">Le chauffage est </span><span class="form-part"><%= f.input :heating_system, label: false, input_html: {class: "select2", multiple: "multiple", id: "my-heating-input"}, collection: Flat::HEATING %></span><span class="form-part">.</span>
          </div>
            <span class="form-part line-7">Je donne quelques informations supplémentaires à mon futur locataire : </span>
          <div class="line-8">
            <div class="special-form" id="special-radio">
              <span class="form-part radio-part <%= @flat.furnished ? "active" : "" %>"> <%= f.input :furnished, label: "Meublé", as: :hidden, input_html: {class: "my-checkbox-input"}, label_html: {class: "my-label-check"} %><i class="fas fa-couch"></i></span>
              <span class="form-part radio-part <%= @flat.elevator ? "active" : "" %>"><%= f.input :elevator, label: "Ascenseur", as: :hidden, input_html: {class: "my-checkbox-input"}, label_html: {class: "my-label-check"} %><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 33 41.25" enable-background="new 0 0 33 33" xml:space="preserve" width="19px"><circle cx="12.029" cy="10.727" r="2.327"/><path d="M14.431,13.084h-0.557l-1.845,2.504l-1.846-2.504H9.627c-0.74,0-1.341,0.6-1.341,1.34v4.414c0,0.74,0.601,1.34,1.341,1.34  h0.125v3.451c0,0.535,0.436,0.971,0.971,0.971h2.611c0.537,0,0.972-0.436,0.972-0.971v-3.451h0.125c0.741,0,1.341-0.6,1.341-1.34  v-4.414C15.771,13.684,15.172,13.084,14.431,13.084z"/><path d="M30.713,2.795H2.288C1.301,2.795,0.5,3.596,0.5,4.582v23.836c0,0.986,0.801,1.787,1.788,1.787h28.425  c0.987,0,1.787-0.801,1.787-1.787V4.582C32.5,3.596,31.7,2.795,30.713,2.795z M19.85,26.797H4.209V6.203H19.85V26.797z   M28.289,20.92l-2.086,3.613l-2.088-3.613l-2.087-3.615h4.175h4.174L28.289,20.92z M26.203,15.695h-4.175l2.087-3.615l2.088-3.613  l2.086,3.613l2.088,3.615H26.203z"/></svg>
              </span>
              <span class="form-part radio-part <%= @flat.balcony ? "active" : "" %>"><%= f.input :balcony, label: "Balcon", as: :hidden, input_html: {class: "my-checkbox-input"}, label_html: {class: "my-label-check"} %><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 283.464 354.33" enable-background="new 0 0 283.464 283.464" xml:space="preserve" width="19px"><g><path d="M248.219,155.712c0.091,0.002,0.179,0.012,0.27,0.012c7.747,0,14.05-6.303,14.05-14.051   c0-7.746-6.303-14.048-14.05-14.048s-14.05,6.303-14.05,14.048h9.963c0-2.252,1.835-4.084,4.087-4.084s4.087,1.833,4.087,4.084   c0,2.254-1.835,4.087-4.087,4.087v0.188h-4.575h-0.324h-8.479H48.356h-8.479h-0.326h-4.575v-0.188   c-2.253,0-4.086-1.833-4.086-4.087c0-2.252,1.833-4.084,4.086-4.084s4.086,1.833,4.086,4.084h9.964   c0-7.746-6.303-14.048-14.05-14.048s-14.05,6.303-14.05,14.048c0,7.748,6.303,14.051,14.05,14.051c0.09,0,0.179-0.01,0.269-0.012   c-0.568,3.586-1.584,8.802-3.308,14.315c-3.438,11-7.455,26.694-7.455,34.735c0,6.395,2.142,11.235,4.621,16.842   c0.47,1.065,0.962,2.177,1.464,3.355c1.452,3.414,3.111,8.083,4.165,11.143v27.693h214.001v-27.692   c1.053-3.061,2.713-7.729,4.164-11.144c0.503-1.179,0.996-2.29,1.465-3.355c2.479-5.606,4.619-10.447,4.619-16.842   c0-8.041-4.015-23.735-7.453-34.735C249.804,164.514,248.788,159.298,248.219,155.712z M215.758,173.253   c2.682,8.579,5.193,26.879,5.193,31.546c0,4.068-1.808,11.884-3.868,16.726c-1.344,3.157-2.759,8.759-3.597,12.348h-15.462   c0.568-3.703,1.194-7.04,1.582-7.988c1.933-4.537,3.241-17.699,3.241-21.052c0-3.419-1.686-27.415-3.84-34.303   c-0.811-2.591-1.371-9.139-1.659-14.615h15.392C213.151,160.466,214.029,167.721,215.758,173.253z M69.977,233.873   c-0.838-3.589-2.253-9.19-3.597-12.348c-2.06-4.842-3.867-12.657-3.867-16.726c0-4.667,2.511-22.967,5.192-31.546   c1.729-5.532,2.607-12.787,3.018-17.339h15.392c-0.288,5.477-0.849,12.024-1.659,14.615c-2.153,6.888-3.84,30.884-3.84,34.303   c0,3.353,1.309,16.515,3.241,21.052c0.388,0.948,1.014,4.285,1.583,7.988H69.977z M95.52,233.873   c-0.594-4.099-1.52-9.599-2.492-11.887c-1.087-2.555-2.446-14.017-2.446-17.153c0-3.469,1.736-26.048,3.384-31.327   c1.272-4.07,1.869-12.384,2.127-17.591h15.358c-0.145,6.753-0.434,13.457-0.762,14.962c-1.319,4.592-2.006,33.718-2.006,33.992   c0,0.163,0.416,16.85,1.66,21.026c0.204,0.909,0.502,4.238,0.768,7.978H95.52z M121.108,233.873   c-0.557-8.3-1.012-10.286-1.311-11.113c-0.509-2.487-1.149-15.67-1.149-17.891c0-2.626,0.865-27.854,1.608-31.208   c0.705-2.434,1.024-10.26,1.167-17.746h15.327v77.958H121.108z M146.713,155.915h15.329c0.142,7.486,0.461,15.312,1.166,17.746   c0.743,3.354,1.608,28.582,1.608,31.208c0,2.221-0.641,15.403-1.148,17.891c-0.3,0.827-0.755,2.813-1.312,11.113h-15.644V155.915z    M172.775,170.876c-0.329-1.505-0.618-8.209-0.763-14.962h15.359c0.259,5.207,0.854,13.521,2.126,17.591   c1.649,5.279,3.386,27.858,3.386,31.327c0,3.137-1.358,14.599-2.445,17.153c-0.972,2.288-1.898,7.788-2.493,11.887h-15.591   c0.266-3.739,0.563-7.068,0.768-7.978c1.242-4.177,1.657-20.863,1.657-21.026C174.779,204.594,174.094,175.468,172.775,170.876z    M41.447,173c2.134-6.829,3.278-13.148,3.851-17.086h15.417c-0.396,4.103-1.159,10.017-2.519,14.366   c-3.09,9.883-5.648,28.956-5.648,34.519c0,5.421,2.049,14.482,4.664,20.624c0.792,1.863,1.743,5.339,2.513,8.449H44.501   c-1.051-3.088-3.006-8.676-4.766-12.813c-0.521-1.223-1.032-2.379-1.521-3.483c-2.268-5.132-3.768-8.523-3.768-12.812   C34.446,199.246,37.324,186.185,41.447,173z M238.77,253.833H44.696v-9.996H238.77V253.833z M245.25,217.576   c-0.49,1.104-0.999,2.261-1.522,3.483c-1.757,4.138-3.713,9.726-4.764,12.813h-15.226c0.77-3.11,1.722-6.586,2.515-8.449   c2.615-6.142,4.662-15.203,4.662-20.624c0-5.562-2.557-24.636-5.646-34.519c-1.361-4.35-2.123-10.264-2.52-14.366h15.417   c0.572,3.938,1.717,10.257,3.85,17.086c4.124,13.185,7.002,26.245,7.002,31.763C249.019,209.052,247.519,212.444,245.25,217.576z"/><path d="M88.589,83.037h48.162v54.118h9.964V83.037h48.161v54.118h9.966V19.668H78.625v117.487h9.964V83.037z    M146.715,29.632h48.161v43.44h-48.161V29.632z M88.589,29.632h48.162v43.44H88.589V29.632z"/></svg>
              </span>
              <span class="form-part radio-part <%= @flat.parking ? "active" : "" %>"><%= f.input :parking, label: "Parking", as: :hidden, input_html: {class: "my-checkbox-input"}, label_html: {class: "my-label-check"} %><i class="fas fa-parking"></i></span>
              <span class="form-part radio-part <%= @flat.cellar ? "active" : "" %>"><%= f.input :cellar, label: "Cave", as: :hidden, input_html: {class: "my-checkbox-input"}, label_html: {class: "my-label-check"} %><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 50 62.5" enable-background="new 0 0 50 50" xml:space="preserve" width="18px"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M39.309,8.563V8.238h1.728v0.325c0.621,0.325,1.023,0.979,1.023,1.701   c0,1.691-2.029,2.561-3.22,1.353C37.931,10.696,38.181,9.154,39.309,8.563 M21.028,7.553c0-1.46,1.113-2.644,2.488-2.644   c1.375,0,2.488,1.184,2.488,2.644c0,1.46-1.114,2.643-2.488,2.643C22.142,10.196,21.028,9.012,21.028,7.553z M2.256,27.876h5.487   v5.038h6.147v5.038h6.147v5.038h6.148v4.754H2.256V27.876z M16.333,25.177V16.62l3.672-4.963c1.709-2.316,4.959-0.908,4.959,1.78   v3.298l5.668,6.87l-1.888,1.682l-3.781-4.583v21.562H21.88v-9.717l-3.854,4.6l-2.326-2.15l5.334-6.366v-3.169h-1.609v-8.787   l-0.628,0.848v7.652H16.333z M0,0v50h50V0h-9.548v6.521h0.241v0.33h0.345v0.992h-1.728V6.851h0.344v-0.33h0.242V0H0z"/></g></svg></span>
            </div>
          </div>
          <span class="form-part line-9"><%= f.input :description, label: false, placeholder: "J'ai encore quelques détails à préciser...", input_html: { id: "my-description-input"} %></span>
            <div class="line-10">
              <%= f.input :photos, as: :file, id: "special-photo-btn", input_html: { multiple: true, class: 'hidden d-none', id: 'photo-input' }, label_html: { class: 'upload-photo'}, label: "📷 J'ajoute des photos à mon appartement" %>
            </div>
            <%= render "shared/carousel_new" %>
            <div class="line-11">
              <%= f.submit "Suivant", id: "special-form-btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



