<div class="dashboard-data-set" data-line="appartements">
  <div class="d-flex">
    <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules, documents: @documents} %>
    <div style=" width:100%;">
      <!-- METTRE UNE BARRE DE PROGRESSION EN JS APRES -->
      <div class="step-form">
        <div class="" id="calendar-publication">
          <ul id="progressbar">
            <li class="active"></li>
            <li class="active"></li>
            <li></li>
            <li></li>
          </ul>
          <p class="text-second-step">Je souhaite faire visiter mon appartement</p>
          <div class="schedules-container-show-edit">
            <table class = "table-schedules">
            <thead class = "jour">
              <tr>
                <th class="schedules-tht">h</th>
                <th class="schedules-th">lun</th>
                <th class="schedules-th">mar</th>
                <th class="schedules-th">mer</th>
                <th class="schedules-th">jeu</th>
                <th class="schedules-th">ven</th>
                <th class="schedules-th">sam</th>
                <th class="schedules-th">dim</th >
              </tr>
            </thead>
            <tbody>
              <% hour = 7 %>
              <% 13.times do %>
              <% hour += 1 %>
              <% demi = "30" %>
              <% pile = "00" %>
              <tr>
                <th class= "schedule-th"> <%= hour %></th>
                <% day = 2 %>
                <% 7.times do %>
                  <% day += 1 %>
                  <% if @flat.schedules.select {|time| time.start == Time.new(2020, 3, day, hour, 0, 0)} != []%>
                    <td class = "schedules-td schedules-selected"></td>
                  <% else %>
                    <td class = "schedules-td schedules-unselected"><%=link_to "", flat_schedules_path(@flat, schedule: { start: Time.new(2020, 3, day, hour, 0, 0), end:Time.new(2020, 3, day, hour, 30, 0)}), method: :post, remote: true, class: "schedules-button" %></td>
                  <% end %>
                <% end %>
              </tr>
              <tr>
                <th class= "schedule-th"> <%= hour %>: <%= demi %></th>
                <% day = 2 %>
                <% 7.times do %>
                  <% day += 1 %>
                   <% if @flat.schedules.select {|time| time.start == Time.new(2020, 3, day,hour, 30, 0)} != []%>
                      <td class = "schedules-td schedules-selected"></td>
                   <% else %>
                      <td class = "schedules-td schedules-unselected"><%=link_to "", flat_schedules_path(@flat, schedule: { start: Time.new(2020, 3, day, hour, 30, 0), end:Time.new(2020, 3, day, (hour+1) , 0, 0)}), method: :post , class: "schedules-button" %></td>
                    <% end %>
                <% end %>
              </tr>
              <% end %>
            </tbody>
           </table>
          </div>
          <div class="button-second-step-form">
            <%= link_to 'Revenir en arrière', id: 'back-form-one'%>
            <button id="first-step-form" class="edit-pub-btn">Suivant</button>
          </div>
        </div>
        <div id="div-second-step" class="d-none">
          <div class="advance-barre">
            <ul id="progressbar">
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li></li>
            </ul>
          </div>
          <p class="text-second-step">Je souhaite que mon annonce soit publiée sur les sites suivants</p>
          <%= simple_form_for @flat, url: update_publication_path(@flat), method: :patch do |f| %>
          <div class="special-form" id="special-radio">
              <span class="form-part radio-part <%= @flat.leboncoin ? "active" : "" %>"><%= f.input :leboncoin, label: "Le Bon Coin", as: :hidden %></span>
              <span class="form-part radio-part <%= @flat.bienici ? "active" : "" %>"><%= f.input :bienici, label: "Bien Ici", as: :hidden %></span>
              <span class="form-part radio-part <%= @flat.seloger ? "active" : "" %>"><%= f.input :seloger, label: "Se Loger", as: :hidden %></span>
              <span class="form-part radio-part <%= @flat.pap ? "active" : "" %>"><%= f.input :pap, label: "PAP, Particulier à Particulier", as: :hidden %></span>
          </div>
          <div class="my-form-buttons">
            <%= link_to 'Revenir en arrière', id: 'back-form-two'%>
            <%= f.submit "Valider l'annonce", class: "second-step-form edit-pub-btn" %>
          </div>
          <% end %>
        </div>
        <!-- Last Step -->

    </div>
  </div>
</div>
