<div class="dashboard-data-set" data-line="appartements">
  <div class="d-flex">
    <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules, documents: @documents} %>
    <div style=" width:100%;">
      <%= render partial: 'shared/navbar_dashboard', locals: { page_title: 'Appartements', notif_counter: @counter} %>
      <div class="container ">
        <div class="index-container mt-5 mb-5">
          <div class="cards cards-index" id = "index-cards">
            <% number = 0 %>
            <% @flats.each do |flat| %>
              <% number += 1 %>
              <div class="card-trip card-trip-index">
                <div id="carouselExampleIndicators<%= number %>" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators<%= number %>" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators<%= number %>" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators<%= number %>" data-slide-to="2"></li>
                  </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">

                        <%= cl_image_tag flat.photos[0].key, class: "d-block w-100 image"%>
                      </div>
                      <% flat.photos[1..flat.photos.count].each do |photo| %>
                        <div class="carousel-item ">
                          <%= cl_image_tag photo.key, class: "d-block w-100 image" %>
                        </div>
                      <% end %>
                    </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicators<%= number %>" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators<%= number %>" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                </div>
                <div class="card-trip-infos">
                  <div>
                    <% if flat.rentings.last.nil? %>
                      <div id="coral-visite-not-rented">
                        Publié
                      </div>
                    <% else %>
                      <div id="coral-visite-rented">
                        Loué
                      </div>
                    <% end %>
                    <h2><%= link_to flat.name, flat_path(flat) %></h2>
                    <p><%= flat.address %> </p>
                  </div>
                  <h2 class="card-trip-pricing"><%= flat.monthly_price.round  %>€/mois</h2>
                  <% if flat.rentings.last&.user&.photo&.attached?  %>
                  <%= cl_image_tag flat.rentings.last.user.photo.key, class: "card-trip-user avatar-bordered" %>
                  <% end %>
                </div>
              </div>
            <% end %>
              <div class="card-trip">
                <%= link_to new_flat_path do %>
                <i class="fas fa-plus-circle fa-flat" title="Ajouter un appartement" ></i>
                <div class="card-trip-empty">
                  <h6>Créer mon appartement</h6>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



