<div class="dashboard-data-set" data-line="appartements">
  <div class="d-flex">
    <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules, documents: @documents} %>
    <div style=" width:100%;">
      <%= render partial: 'shared/navbar_dashboard', locals: { page_title: 'Appartements'}%>
      <div class="container">
        <% @flats.each do |flat| %>
          <h2><%= flat.name %></h2>
          <% flat.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <h4><%= flat.address %></h3>
          <h5><%= flat.monthly_price.round %>€/mois</h4>
          <p><%= flat.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>



