<% if current_user.renter == true %>
  <div class="dashboard-data-set" data-line="appartements">
    <div class="screen-container">
      <div class="dashboard-container full">
        <% if current_user.renter == true %>
          <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules} %>
        <% else %>
          <%= render partial: 'shared/dashboard_tenant' %>
        <% end %>
      </div>
      <div class="nav-container full">
        <h3>Mes biens</h3>
        <%= render partial: 'shared/navbar_dashboard', locals: { notif_counter: @counter} %>
      </div>
      <div class="content-container full">
        <div class="disposition-one-column" id = "index-cards">
          <% @flats.each do |flat| %>
            <div class="card-large-inline">
              <%= link_to flat_path(flat) do %>
                <%= image_tag flat.photos.first, class:"card-large-inline--photo"%>
              <% end %>
              <span class="<%= flat.rented ? "label-coral" : "label-gray" %> position-absolute-label"><%= flat.rented ? "Loué" : "Publié" %></span>
              <div class="card-large-inline--footer">
                <div>
                  <strong><h6><%= flat.name %></h6></strong>
                  <p><%= flat.address %> </p>
                </div>
                <h8><%= flat.monthly_price.round  %>€/mois</h8>
                <% if tenant?(flat) %>
                  <% if helper_flat_current_tenants(flat).first&.photo&.attached?  %>
                    <%= image_tag helper_flat_current_tenants(flat).first.photo, class: "avatar-middle bordered avatar-card-large" %>
                  <% else %>
                    <%= image_tag ("avatar.png"), class: 'avatar-middle bordered avatar-card-large' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="card-large-inline empty">
            <%= link_to new_flat_path, class: 'button-new-flat' do %>
              <i class="fas fa-plus-circle fa-flat icon-new-dashboard" title="Ajouter un bien"></i>
              <h6 id="text-card-trip">Créer mon bien</h6>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/bottom_nav'%>
<% else %>
  <div class="dashboard-data-set" data-line="search">
    <div class="screen-container">
      <div class="dashboard-container full">
        <% if user_current_renting?(current_user) %>
          <%= render partial: 'shared/dashboard_tenant', locals: { renting: user_current_renting(current_user)} %>
        <% else %>
          <%= render partial: 'shared/dashboard_tenant', locals: { renting: "empty" }%>
        <% end %>
      </div>
      <div class="nav-container full">
        <%= render partial: 'shared/navbar_dashboard', locals: { notif_counter: @counter} %>
      </div>
      <div class="content-container full">

      </div>
    </div>
  </div>
<% end %>
