<div class="dashboard-data-set" data-line="appartements">
  <div class="d-flex">
    <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules, documents: @documents} %>
    <div style=" width:100%;">
      <%= render partial: 'shared/navbar_dashboard', locals: { page_title: 'Appartements', notif_counter: @counter} %>
      <div class="container">
        <div class="container-new-form">
          <%= simple_form_for @flat do |f| %>
          <div class="special-form">
            <span class="form-part">Je nomme mon appartement</span><span class="form-part"><%= f.input :name, label: false, placeholder: "Titre" %></span><span class="form-part">.</span>
          </div>
          <div class="special-form">
            <span class="form-part">Il est au</span><span class="form-part"><%= f.input :floor, label: false, placeholder: "N étage" %></span><span class="form-part"> er/ème étage de l'immeuble situé</span><span class="form-part"><%= f.input :address, label: false, id: "flat_address", placeholder: "Adresse" %></span><span class="form-part">.</span>
          </div>
          <div class="special-form">
            <span class="form-part">Je souhaite le louer pour</span><span class="form-part"><%= f.input :monthly_price, label: false, placeholder: "Loyer mensuel" %></span><span class="form-part"> €/mois.</span>
          </div>
          <div class="special-form">
            <span class="form-part">Il a une superficie de </span><span class="form-part"><%= f.input :surface, label: false, placeholder: "Superficie" %></span><span class="form-part"> m².</span>
          </div>
          <div class="special-form">
            <span class="form-part">Il est composé de </span><span class="form-part"><%= f.input :number_of_rooms, label: false, placeholder: "Nombre de pièces" %></span><span class="form-part"> pièce(s), dont </span><span class="form-part"><%= f.input :number_of_bedrooms, label: false, placeholder: "Nombre de chambres" %></span><span class="form-part">chambre(s).</span>
          </div>
          <div class="special-form">
            <span class="form-part" id="heating">Le chauffage est </span><span class="form-part"><%= f.input :heating_system, label: false, input_html: {class: "select2", multiple: "multiple"}, collection: Flat::HEATING %></span><span class="form-part">.</span>
          </div>
            <span class="form-part">Je donne quelques informations supplémentaires à mon futur locataire : </span>
          <div class="special-form" id="special-radio">
            <span class="form-part radio-part <%= @flat.furnished ? "active" : "" %>"> <%= f.input :furnished, label: "Meublé", as: :hidden %><i class="fas fa-couch"></i></span>
            <span class="form-part radio-part <%= @flat.elevator ? "active" : "" %>"><%= f.input :elevator, label: "Ascenseur", as: :hidden %><span class="iconify" data-icon="oi-elevator" data-inline="false"></span></span>
            <span class="form-part radio-part <%= @flat.balcony ? "active" : "" %>"><%= f.input :balcony, label: "Balcon", as: :hidden %><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcToZ0zQLAhC3nanPlXxL40ToffY-oj9kpDWMCXr-h3R6Rk7bmIX" id="balcony-img"></span>
            <span class="form-part radio-part <%= @flat.parking ? "active" : "" %>"><%= f.input :parking, label: "Parking", as: :hidden %><i class="fas fa-parking"></i></span>
            <span class="form-part radio-part <%= @flat.cellar ? "active" : "" %>"><%= f.input :cellar, label: "Cave", as: :hidden %><img src="https://image.flaticon.com/icons/svg/1200/1200913.svg" id="cellar-img"></span>
          </div>
          <span class="form-part"><%= f.input :description, label: false, placeholder: "J'ai encore quelques détails à préciser..." %></span>
            <%= f.input :photos, as: :file, id: "special-photo-btn", input_html: { multiple: true, class: 'hidden d-none', id: 'photo-input' }, label_html: { class: 'upload-photo'}, label: "📷 J'ajoute des photos à mon appartement" %>
            <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
            <%= f.submit "Suivant", id: "special-form-btn" %>
          <% end %>
          <a href="https://icons8.com/icon/59644/balcon" class="icon-link">Balcon icon by Icons8</a>
          <div class="icon-link">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" class="icon-link">Freepik</a> from <a class="icon-link" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>
      </div>
    </div>
  </div>
</div>



