<div class="dashboard-data-set" data-line="appartements">
  <div class="d-flex">
    <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules, documents: @documents} %>
    <div style=" width:100%;">
      <%= render partial: 'shared/navbar_dashboard', locals: { page_title: 'Appartements'}%>
      <div class="container">
        <div class="container-new-form">
          <%= simple_form_for [@flat.user, @flat] do |f| %>
          <div class="special-form">
            <span class="form-part">Je nomme mon appartement</span><span class="form-part"><%= f.input :name, label: false, placeholder: "Titre" %></span><span class="form-part">.</span>
          </div>
          <div class="special-form">
            <span class="form-part">Il est au</span><span class="form-part"><%= f.input :floor, label: false, placeholder: "N étage" %></span><span class="form-part"> er/ème étage de l'immeuble situé</span><span class="form-part"><%= f.input :address, label: false, placeholder: "Adresse" %></span><span class="form-part">.</span>
          </div>
          <div class="special-form">
            <span class="form-part">Je souhaite le louer pour</span><span class="form-part"><%= f.input :monthly_price, label: false, placeholder: "Loyer mensuel" %></span><span class="form-part"> €/mois.</span>
          </div>
          <div class="special-form">
            <span class="form-part">Il a une superficie de </span><span class="form-part"><%= f.input :surface, label: false, placeholder: "Superficie" %></span><span class="form-part"> m².</span>
          </div>
          <div class="special-form">
            <span class="form-part">Il est composé de </span><span class="form-part"><%= f.input :number_of_rooms, label: false, placeholder: "Nombre de pièces" %></span><span class="form-part"> pièce(s), dont </span><span class="form-part"><%= f.input :number_of_bedrooms, label: false, placeholder: "Nombre de chambres" %></span><span class="form-part">chambre(s).</span>
          </div>
          <div class="special-form">
            <span class="form-part" id="heating">Le chauffage est </span><span class="form-part"><%= f.input :heating_system, label: false, input_html: {class: "select2", multiple: "multiple"}, collection: Flat::HEATING %></span><span class="form-part">.</span>
          </div>
            <span class="form-part">Je donne quelques informations supplémentaires à mon futur locataire : </span>
          <div class="special-form" id="special-radio">
              <span class="form-part radio-part"><%= f.input :furnished, label: "Meublé", collection: ["Oui", "Non"], as: :radio_buttons%></span><span class="form-part radio-part"><%= f.input :elevator, label: "Ascenseur", collection: ["Oui", "Non"], as: :radio_buttons%></span><span class="form-part radio-part"><%= f.input :balcony, label: "Balcon", collection: ["Oui", "Non"], as: :radio_buttons %></span><span class="form-part radio-part"><%= f.input :parking, collection: ["Oui", "Non"], as: :radio_buttons %></span><span class="form-part radio-part"><%= f.input :cellar, label: "Cave", collection: ["Oui", "Non"], as: :radio_buttons %></span>
          </div>
            <span class="form-part"><%= f.input :description, label: false, placeholder: "J'ai encore quelques détails à préciser..." %></span>
            <%= f.input :photos, as: :file, id: "special-photo-btn", input_html: { multiple: true } %>
            <%= f.submit "Créer appartement", id: "special-form-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

