<div class="container">
  <%= simple_form_for [@flat.user, @flat] do |f| %>
    <%= f.input :name, label: "Titre" %>
    <%= f.input :address, label: "Adresse" %>
    <%= f.input :monthly_price, label: "Prix mensuel" %>
    <%= f.input :description, label: "Description", placeholder: "Superficie, étage, commodités, type de chauffage,..." %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Créer appartement" %>
  <% end %>
</div>
