<div class="dashboard-data-set" data-line="appartements">
  <div class="screen-container">
    <div class="dashboard-container full">
      <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules} %>
    </div>
    <div class="nav-container">
      <h3><%= @flat.name %></h3>
      <%= render partial: 'shared/navbar_dashboard', locals: { page_title: 'Documents', notif_counter: @counter} %>
    </div>
    <div class="container-disposition">
      <% if tenant?(@flat) %>
        <%= render partial: 'shared/show_flat/show_rented_flat', locals: { flat: @flat, schedules: @schedule} %>
      <% elsif @flat.rentings.select{|renting| renting.status == 'ongoing'}.empty?  || @flat.rentings.select{|renting| renting.status == 'ongoing'}.nil? %>
        <%= render partial: 'shared/show_flat/show_not_rented_flat', locals: { flats: @flat, schedule: @schedule} %>
      <% else %>
        <%= render partial: 'shared/show_flat/show_ongoing_renting_flat' %>
      <% end %>
    </div>
      <!-- HERE -->
  </div>
</div>
<%= render 'shared/bottom_nav'%>
