<div class="dashboard-data-set" data-line="appartements">
  <div class="d-flex">
    <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules} %>
    <%= render 'shared/bottom_nav'%>
    <div style=" width:100%; position:relative;">
      <%= render partial: 'shared/navbar_dashboard', locals: { page_title: 'Biens', notif_counter: @counter} %>
      <h3 id="flat-name-show"><%= @flat.name %></h3>
      <div class="container-disposition">
        <% if helper_flat_tenant?(@flat) %>
          <%= render partial: 'shared/show_flat/show_rented_flat', locals: { flat: @flat, schedules: @schedule} %>
        <% elsif @flat.rentings.select{|renting| renting.status == 'ongoing'}.empty?  || @flat.rentings.select{|renting| renting.status == 'ongoing'}.nil? %>
          <%= render partial: 'shared/show_flat/show_not_rented_flat', locals: { flats: @flat, schedule: @schedule} %>
        <% else %>
          <%= render partial: 'shared/show_flat/show_ongoing_renting_flat' %>
        <% end %>
      </div>
      <!-- HERE -->
    </div>
  </div>
</div>
