<% if current_user.renter == true %>
  <div class="dashboard-data-set" data-line="appartements">
    <div class="screen-container">
      <div class="dashboard-container">
        <% if current_user.renter == true %>
          <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules} %>
        <% else %>
          <%= render partial: 'shared/dashboard_tenant' %>
        <% end %>
      </div>
      <div class="nav-container full">
        <h3><%= @flat.name %></h3>
        <%= render partial: 'shared/navbar_dashboard', locals: { page_title: 'Documents', notif_counter: @counter} %>
      </div>
      <div class="content-container full">
        <% if tenant?(@flat) %>
          <%= render partial: 'shared/show_flat/show_rented_flat', locals: { flat: @flat, schedules: @schedule} %>
        <% elsif @flat.rentings.select{|renting| renting.status == 'ongoing'}.empty?  || @flat.rentings.select{|renting| renting.status == 'ongoing'}.nil? %>
          <%= render partial: 'shared/show_flat/show_not_rented_flat', locals: { flats: @flat, schedule: @schedule} %>
        <% else %>
          <%= render partial: 'shared/show_flat/show_ongoing_renting_flat' %>
        <% end %>
      </div>
    </div>
  </div>
  <% raise %>
  <%= render 'shared/bottom_nav'%>
<% else %>
  <div class="dashboard-data-set" data-line="appartements">
    <div class="screen-container">
      <div class="dashboard-container full">
        <% if user_current_renting?(current_user) %>
          <%= render partial: 'shared/dashboard_tenant', locals: { renting: user_current_renting(current_user)} %>
        <% else %>
          <%= render partial: 'shared/dashboard_tenant', locals: { renting: "empty" }%>
        <% end %>
      </div>
      <div class="nav-container full">
        <%= render partial: 'shared/navbar_dashboard', locals: { notif_counter: @counter} %>
      </div>
      <div class="content-container full">
        <div class="query-search--flat">

        </div>
      </div>
    </div>
  </div>
<% end %>
