<div class="dashboard-data-set" data-line=calendar></div>
  <div class="container-flex">
    <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules} %>
    <div style=" width:100%;">
      <%= render 'shared/navbar_dashboard', locals: { page_title: 'Calendrier', notif_counter: @counter} %>
      <div class="container-disposition">
        <div id="disposition-card-four">
          <div id="disposition-four-left">
            <%= render 'shared/calendar'%>
          </div>
          <div id="disposition-four-right">
            <% number = 2 %>
            <% current_user.schedules.each do |schedule| %>
              <% number += 1 %>
              <div class="container-card-request card-trip-schedules d-none" id="scheduled<%= schedule.id %>" style="overflow:auto;">
                <%= image_tag schedule.flat.photos.first, class: "image" %>
                <div class = "info-flat">
                  <h5><%= schedule.flat.name %></h5>
                  <!-- <h6><%= schedule.flat.monthly_price.round %> € / mois</h6> -->
                  <p><%= link_to "Rajouter des créneaux" , flat_path(schedule.flat), class: "link-schedule" %></p>
                  <% accepted_visit = schedule.visits.select {|visit| visit.status == "accepted"} %>
                  <% pending_visit = schedule.visits.select {|visit| visit.status == "pending"} %>
                  <% if accepted_visit != [] %>
                    <div class="card-product">
                      <%= image_tag accepted_visit[0].user.photo%>
                      <div class="card-product-infos p-3">
                        <p><%= accepted_visit.first.user.first_name %> viendra visiter votre bien le <%= schedule.start.strftime("%d/%m") %> de <%= schedule.start.strftime("%H:%M") %> à <%= schedule.end.strftime("%H:%M") %></p>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 30" style="enable-background:new 0 0 24 24;" xml:space="preserve" class= 'accepted-logo'><g><path fill="green" d="M10.125,17.544c0.061,0.054,0.139,0.083,0.22,0.083c0.007,0,0.014,0,0.021-0.001c0.088-0.006,0.17-0.046,0.228-0.112   l9.269-10.593c0.121-0.138,0.107-0.347-0.031-0.467c-0.137-0.12-0.347-0.107-0.467,0.031l-9.049,10.342l-5.709-5.075   c-0.136-0.121-0.347-0.11-0.467,0.028c-0.122,0.136-0.109,0.346,0.028,0.467L10.125,17.544z"/></g></svg>
                      </div>
                    </div>
                  <% elsif pending_visit != []%>
                    <h6>Ils veulent visiter ce bien</h6>
                      <% pending_visit.each do |visit| %>
                      <div class="card-product product-pending" id = "blabla">
                        <%= image_tag visit.user.photo%>
                        <div class="card-product-infos-pending ">
                          <div class= "card-product-info-user">
                            <p><%= visit.user.first_name %></p>
                            <p class= "p-milieu"><i class="fas fa-phone-alt"></i><%= visit.user.phone_number.scan(/../).join(" ")%></p>
                            <p><i class="far fa-envelope"></i><%= visit.user.email%></p>
                          </div>
                           <div class="card-product-contact">
                            <%= link_to "accepter", schedule_visit_path(schedule, visit, visit: { status: "accepted"}), method: :patch, remote: :true, class: "btn koobo-button btn-accept",id: "btn-card-product"%>
                            <%= link_to "refuser", schedule_visit_path(schedule, visit, visit: { status: "denied"}), method: :patch, remote: :true, class: "btn koobo-button btn-refuse",id: "btn-card-product"%>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    <p>Sois patient ! 100% des locataires ont visité leur appartement...</p>
                  <% end %>
                </div>
              </div>
              <% end %>
              <div class="card-trip product-flat p-3 d-none" id ="test">
                <h2 class="p-3"> Choisissez le bien à booker </h2>
              <% @flats.each do |flat| %>
              <div class="card-product mt-3">
                <%= image_tag flat.photos[0]%>
                <div class="card-product-infos p-3">
                  <h2><%= link_to flat.name, flat_path(flat) %></h2>
                  <p><%=flat.monthly_price.round %>€</p>
                </div>
                <% end %>
                <div class="card-trip product-flat d-none" id ="test">
                  <h2> Choisissez l'appartement a booker </h2>
                <% @flats.each do |flat| %>
                <div class="card-product mt-3">
                  <%= image_tag flat.photos[0]%>
                  <div class="card-product-infos">
                    <h2><%= link_to flat.name, flat_path(flat) %></h2>
                    <p><%=flat.monthly_price.round %>€</p>
                  </div>
                </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/bottom_nav'%>
