<div class="accordion" id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5>
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Mes informations
        </button>
      </h5>
      <p class="<%= renter_informations_number?(@renting) ? "font-green" : "font-orange" %>"><%= renter_informations_number(@renting)%>/3 champs remplis</p>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <%= simple_form_for @renting, method: 'patch' do |f| %>
          <div class="form-accordion">
            <%= f.input :type_renter, label: "Personne physique ou morale ?", selected: "Physique", collection: [['Physique', 'private_individual'], ['Morale', 'juridical_person']], label_method: :first, value_method: :second %>
            <%= f.input :renter, label: "Prénom & nom ou dénomination", input_html: { value: "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}"} %>
            <%= f.input :renter_address, label: "Adresse ou siége social" %>
          </div>
          <div class="form-accordion-submit">
            <p>Ces informations sont essentielles pour l'élaboration du bail.</p>
            <p>Veuillez vous assurez de la conformité de celles-ci.</p>
            <%= f.submit "Sauvegarder", class:"koobo-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2>
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Mon bien
        </button>
      </h2>
      <p class="font-orange">0/4 champs remplis</p>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Annexes à joindres
        </button>
      </h2>
      <p class="<%= @flat.number_file_attached == 3 ? "font-green" : "font-orange" %>"><%= @flat.number_file_attached %>/3 documents joins</p>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="card-upload-doc <%= @flat.technical_diagnostic.attached? ? "fulfill" : "empty" %>">
          <p>Diagnostic Technique</p>
          <%= simple_form_for @flat, url: upload_document_path, html: {id: "edit_recrod_technical_diagnostic"}, method: 'post' do |f| %>
            <% if @flat.technical_diagnostic.attached? %>
              <%= f.input :technical_diagnostic, as: :file, input_html: { class: 'hidden d-none' }, label: ("#{image_tag('sync_files.svg')}").html_safe, label_html: { class: "add-file-clickable", id: "js-technical_diagnostic"}%>
            <% else %>
              <%= f.input :technical_diagnostic, as: :file, input_html: { class: 'hidden d-none' }, label: ("#{image_tag('add_file2.svg')}").html_safe, label_html: { class: "add-file-clickable", id: "js-technical_diagnostic"}%>
            <% end %>
            <%= f.submit "Ajouter", class: "koobo-button hide-file", id: "submit-file-upload-technical_diagnostic" %>
          <% end %>
          <% if @flat.technical_diagnostic.attached? %>
            <%= link_to purge_document_path(:file => "technical_diagnostic"), method: 'delete', data: { confirm: "Tu veux supprimer le document ?" } do %>
              <i class="fas fa-times"></i>
            <% end %>
            <p id="file-name"><i><%= @flat.technical_diagnostic.filename %></i></p>
          <% end %>
        </div>
        <div class="card-upload-doc <%= @flat.information_leaflet.attached? ? "fulfill" : "empty" %>">
          <p>Notice d'information</p>
          <%= simple_form_for @flat, url: upload_document_path, html: {id: "edit_recrod_information_leaflet"}, method: 'post' do |f| %>
            <% if @flat.information_leaflet.attached? %>
              <%= f.input :information_leaflet, as: :file, input_html: { class: 'hidden d-none' }, label: ("#{image_tag('sync_files.svg')}").html_safe, label_html: { class: "add-file-clickable", id: "js-information_leaflet"}%>
            <% else %>
              <%= f.input :information_leaflet, as: :file, input_html: { class: 'hidden d-none' }, label: ("#{image_tag('add_file2.svg')}").html_safe, label_html: { class: "add-file-clickable", id: "js-information_leaflet"}%>
            <% end %>
            <%= f.submit "Ajouter", class: "koobo-button hide-file", id: "submit-file-upload-information_leaflet" %>
          <% end %>
          <% if @flat.information_leaflet.attached? %>
            <%= link_to purge_document_path(:file => "information_leaflet"), method: 'delete', data: { confirm: "Tu veux supprimer le document ?" } do %>
              <i class="fas fa-times"></i>
            <% end %>
            <p id="file-name"><i><%= @flat.information_leaflet.filename %></i></p>
          <% end %>
        </div>
        <div class="card-upload-doc <%= @flat.co_owner_document.attached? ? "fulfill" : "empty" %>">
          <p>Règlement co-pro</p>
          <%= simple_form_for @flat, url: upload_document_path, html: {id: "edit_recrod_co_owner_document"}, method: 'post' do |f| %>
            <% if @flat.co_owner_document.attached? %>
              <%= f.input :co_owner_document, as: :file, input_html: { class: 'hidden d-none' }, label: ("#{image_tag('sync_files.svg')}").html_safe, label_html: { class: "add-file-clickable", id: "js-co_owner_document"}%>
            <% else %>
              <%= f.input :co_owner_document, as: :file, input_html: { class: 'hidden d-none' }, label: ("#{image_tag('add_file2.svg')}").html_safe, label_html: { class: "add-file-clickable", id: "js-co_owner_document"}%>
            <% end %>
            <%= f.submit "Ajouter", class: "koobo-button hide-file", id: "submit-file-upload-co_owner_document" %>
          <% end %>
          <% if @flat.co_owner_document.attached? %>
            <%= link_to purge_document_path(:file => "co_owner_document"), method: 'delete', data: { confirm: "Tu veux supprimer le document ?" } do %>
              <i class="fas fa-times"></i>
            <% end %>
            <p id="file-name"><i><%= @flat.co_owner_document.filename %></i></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
