<div id="accordion<%= counter %>">
  <div class="card">
    <div class="card-header" id="headingOne<%= counter %>">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne<%= counter %>" aria-expanded="true" aria-controls="collapseOne<%= counter %>">
          Documents obligatoires
        </button>
      </h5>
      <h6 class="<%= number_document_mandatory_attached(record) == 3 ? "font-green" : "font-orange" %>"><%= number_document_mandatory_attached(record) %>/3 documents joins</h6>
    </div>
    <div id="collapseOne<%= counter %>" class="collapse show" aria-labelledby="headingOne<%= counter %>" data-parent="#accordion<%= counter %>">
      <div class="card-body">
        <div class="row" id="pills-container">
          <div class="col-5" id="pills-header">
            <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link <%= record.identity_card.attached? ? "good" : "" %> active" id="v-pills-identity-card<%= counter %>-tab" data-toggle="pill" href="#v-pills-identity-card<%= counter %>" role="tab" aria-controls="v-pills-identity<%= counter %>-card" aria-selected="true">Carte d'identité
                <% if record.identity_card.attached? %>
                  <i class="fas fa-check-circle font-green"></i>
                <% end %>
              </a>
              <a class="nav-link <%= record.payslips.count == 3 ? "good" : "" %>" id="v-pills-payslips<%= counter %>-tab" data-toggle="pill" href="#v-pills-payslips<%= counter %>" role="tab" aria-controls="v-pills-payslips<%= counter %>" aria-selected="false">Bulletins de salaire (<%= record.payslips.attached? ? record.payslips.count : "0" %>/3)
                <% if record.payslips.count == 3 %>
                  <i class="fas fa-check-circle font-green"></i>
                <% end %>
              </a>
              <a class="nav-link <%= record.proof_residence.attached? ? "good" : "" %>" id="v-pills-proof-residence<%= counter %>-tab" data-toggle="pill" href="#v-pills-proof-residence<%= counter %>" role="tab" aria-controls="v-pills-proof-residence<%= counter %>" aria-selected="false">Justificatif de domicile
                <% if record.proof_residence.attached? %>
                  <i class="fas fa-check-circle font-green"></i>
                <% end %>
              </a>
            </div>
          </div>
          <div class="col-7">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-identity-card<%= counter %>" role="tabpanel" aria-labelledby="v-pills-identity-card<%= counter %>-tab">
                <%= render partial: 'shared/form_upload_fil_record', locals: { title: "Carte d'identité", link: "https://www.service-public.fr/particuliers/vosdroits/F1169", file: "identity_card", record: record, multiple: false} %>
              </div>
              <div class="tab-pane fade " id="v-pills-payslips<%= counter %>" role="tabpanel" aria-labelledby="v-pills-payslips-tab<%= counter %>">
                <%= render partial: 'shared/form_upload_fil_record', locals: { title: "Bulletins de salaire", link: "https://www.service-public.fr/particuliers/vosdroits/F1169", file: "payslips", record: record, multiple: true} %>
              </div>
              <div class="tab-pane fade" id="v-pills-proof-residence<%= counter %>" role="tabpanel" aria-labelledby="v-pills-proof-residence<%= counter %>-tab">
                <%= render partial: 'shared/form_upload_fil_record', locals: { title: "Justificatif de domicile", link: "https://www.service-public.fr/particuliers/vosdroits/F1169", file: "proof_residence", record: record, multiple: false} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo<%= counter %>">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo<%= counter %>" aria-expanded="false" aria-controls="collapseTwo<%= counter %>">
          Documents optionnels
        </button>
      </h5>
      <h6 class="<%= number_document_optional_attached(record) == 4 ? "font-green" : "font-orange" %>"><%= number_document_optional_attached(record) %>/4 documents joins</h6>
    </div>
    <div id="collapseTwo<%= counter %>" class="collapse" aria-labelledby="headingTwo<%= counter %>" data-parent="#accordion<%= counter %>">
      <div class="card-body">
        <div class="row" id="pills-container">
          <div class="col-5" id="pills-header">
            <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link <%= record.notice_assessment.attached? ? "good" : "" %> active" id="v-pills-notice-assessment<%= counter %>-tab" data-toggle="pill" href="#v-pills-notice-assessment<%= counter %>" role="tab" aria-controls="v-pills-notice-assessment<%= counter %>" aria-selected="true">Avis d'imposition
                <% if record.notice_assessment.attached? %>
                  <i class="fas fa-check-circle font-green"></i>
                <% end %>
              </a>
              <a class="nav-link <%= record.rent_receipts.count == 3 ? "good" : "" %>" id="v-pills-rent-receipts<%= counter %>-tab" data-toggle="pill" href="#v-pills-rent-receipts<%= counter %>" role="tab" aria-controls="v-pills-rent-receipts<%= counter %>" aria-selected="false">Quittances de loyer (<%= record.rent_receipts.attached? ? record.rent_receipts.count : "0" %>/3)
                <% if record.rent_receipts.count == 3 %>
                  <i class="fas fa-check-circle font-green"></i>
                <% end %>
              </a>
              <a class="nav-link <%= record.student_card.attached? ? "good" : "" %>" id="v-pills-student-card<%= counter %>-tab" data-toggle="pill" href="#v-pills-student-card<%= counter %>" role="tab" aria-controls="v-pills-student-card<%= counter %>" aria-selected="false">Justificatif d'étude (si étudiant)
                <% if record.student_card.attached? %>
                  <i class="fas fa-check-circle font-green"></i>
                <% end %>
              </a>
              <a class="nav-link <%= record.bank_identity.attached? ? "good" : "" %>" id="v-pills-bank-identity<%= counter %>-tab" data-toggle="pill" href="#v-pills-bank-identity<%= counter %>" role="tab" aria-controls="v-pills-bank-identity<%= counter %>" aria-selected="false">Relevé d'identité bancaire
                <% if record.bank_identity.attached? %>
                  <i class="fas fa-check-circle font-green"></i>
                <% end %>
              </a>
            </div>
          </div>
          <div class="col-7">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-notice-assessment<%= counter %>" role="tabpanel" aria-labelledby="v-pills-notice-assessment<%= counter %>-tab">
                <%= render partial: 'shared/form_upload_fil_record', locals: { title: "Avis d'imposition", link: "https://www.service-public.fr/particuliers/vosdroits/F1169", file: "notice_assessment", record: record, multiple: false} %>
              </div>
              <div class="tab-pane fade " id="v-pills-rent-receipts<%= counter %>" role="tabpanel" aria-labelledby="v-pills-rent-receipts<%= counter %>-tab">
                <%= render partial: 'shared/form_upload_fil_record', locals: { title: "Quittances de loyer", link: "https://www.service-public.fr/particuliers/vosdroits/F1169", file: "rent_receipts", record: record, multiple: true} %>
              </div>
              <div class="tab-pane fade" id="v-pills-student-card<%= counter %>" role="tabpanel" aria-labelledby="v-pills-student-card<%= counter %>-tab">
                <%= render partial: 'shared/form_upload_fil_record', locals: { title: "Justificatif d'étude'", link: "https://www.service-public.fr/particuliers/vosdroits/F1169", file: "student_card", record: record, multiple: false} %>
              </div>
              <div class="tab-pane fade" id="v-pills-bank-identity<%= counter %>" role="tabpanel" aria-labelledby="v-pills-bank-identity<%= counter %>-tab">
                <%= render partial: 'shared/form_upload_fil_record', locals: { title: "Relevé d'identité bancaire", link: "https://www.service-public.fr/particuliers/vosdroits/F1169", file: "bank_identity", record: record, multiple: false} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
