<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2>
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Mes informations
        </button>
      </h2>
      <p class="text-orange">0/4 champs remplis</p>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Mon bien
        </button>
      </h2>
      <p class="text-orange">0/4 champs remplis</p>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Annexes à joindres
        </button>
      </h2>
      <p class="<%= @flat.number_file_attached == 3 ? "text-green" : "text-orange" %>"><%= @flat.number_file_attached %>/3 documents joins</p>
    </div>
    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row" id="pills-container">
          <div class="col-5" id="pills-header">
            <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link <%= @flat.technical_diagnostic.attached? ? "good" : "" %> active" id="v-pills-technical-diagnostic-tab" data-toggle="pill" href="#v-pills-technical-diagnostic" role="tab" aria-controls="v-pills-technical-diagnostic" aria-selected="true">Diagnostic Technique
                <% if @flat.technical_diagnostic.attached? %>
                  <i class="fas fa-check-circle text-green"></i>
                <% end %>
              </a>
              <a class="nav-link <%= @flat.information_leaflet.attached? ? "good" : "" %>" id="v-pills-information-leaflet-tab" data-toggle="pill" href="#v-pills-information-leaflet" role="tab" aria-controls="v-pills-information-leaflet" aria-selected="false">Notice d'information
                <% if @flat.information_leaflet.attached? %>
                  <i class="fas fa-check-circle text-green"></i>
                <% end %>
              </a>
              <a class="nav-link <%= @flat.co_owner_document.attached? ? "good" : "" %>" id="v-pills-co-owner-document-tab" data-toggle="pill" href="#v-pills-co-owner-document" role="tab" aria-controls="v-pills-co-owner-document" aria-selected="false">Règlement co-propriété
                <% if @flat.co_owner_document.attached? %>
                  <i class="fas fa-check-circle text-green"></i>
                <% end %>
              </a>
            </div>
          </div>
          <div class="col-7">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-technical-diagnostic" role="tabpanel" aria-labelledby="v-pills-technical-diagnostic-tab">
                <%= render partial: 'shared/form_upload_fil_show_ongoing', locals: { title: "Le diagnistic technique", link: "https://www.anil.org/fileadmin/ANIL/Editions_grand_public/serie_rapports_locatifs/quels_diagnostics_louer.pdf", file: "technical_diagnostic", flat: @flat} %>
              </div>
              <div class="tab-pane fade " id="v-pills-information-leaflet" role="tabpanel" aria-labelledby="v-pills-information-leaflet-tab">
                <%= render partial: 'shared/form_upload_fil_show_ongoing', locals: { title: "La notice d'information", link: "https://droit-finances.commentcamarche.com/download/telecharger-334-location-notice-d-information-type", file: "information_leaflet", flat: @flat} %>
              </div>
              <div class="tab-pane fade" id="v-pills-co-owner-document" role="tabpanel" aria-labelledby="v-pills-co-owner-document-tab">
                <%= render partial: 'shared/form_upload_fil_show_ongoing', locals: { title: "Le réglement de co-propriété", link: "https://www.service-public.fr/particuliers/vosdroits/F2589", file: "co_owner_document", flat: @flat} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
