<% counter_visit = 0 %>
<% visits.select{|v| v.status == status}.each do |visit| %>
  <% counter_visit += 1 %>
  <%= link_to '#', class:'card-small-three-blocks', type:'button', data: { toggle: 'modal', target: "#exampleModalVisit#{counter_visit}" } do %>
    <%= image_tag visit.schedule.flat.photos.first, class:'card-small-three-blocks--first' %>
    <div class="card-small-three-blocks--second">
      <h6><strong><%= visit.schedule.flat.name %></strong></h6>
      <p>Votre demande de <strong><span class="font-coral">visite</span></strong>
        <% if visit.status == status %>
          est <br><span class="bubble price">en attente</span>
        <% elsif visit.status == 'accepted' %>
          a été <br><span class=" bubble visits-available">acceptée</span>
        <% else %>
          a été <br><span class="bubble visits-not-available">refusée</span>
        <% end %></p>
    </div>
    <div class="card-small-three-blocks--third">
      <% if visit.schedule.flat.user.photo&.attached?  %>
        <%= image_tag visit.schedule.flat.user.photo, class: "avatar-middle bordered white" %>
      <% else %>
        <%= image_tag ("avatar.png"), class: 'avatar-middle bordered white' %>
      <% end %>
    </div>
  <% end %>
<% end %>
<!-- Modal -->
<div class="modal fade" id="exampleModalVisit<%= counter_visit %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalVisitTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
