<% counter_renting = 0 %>
<% renting_folders.select{|r| r.status == status}.each do |renting_folder| %>
  <% counter_renting += 1 %>
  <%= link_to '#', class:'card-small-three-blocks', type:'button', data: { toggle: 'modal', target: "#exampleModalRentingFolder#{status}#{counter_renting}" } do %>
    <%= image_tag renting_folder.visit.schedule.flat.photos.first, class:'card-small-three-blocks--first' %>
    <div class="card-small-three-blocks--second">
      <h6><strong><%= renting_folder.visit.schedule.flat.name %></strong></h6>
      <% if renting_folder.status == 'pending'%>
        <p>Votre demande de <strong><span class="font-blue">dossier</span></strong> est <br><span class="bubble price">en attente</span></p>
      <% elsif renting_folder.status == 'accepted' %>
        <p>Votre demande de <strong><span class="font-blue">dossier</span></strong> a été <br><span class="bubble visits-available">acceptée</span></p>
      <% else %>
        <p>Votre demande de <strong><span class="font-blue">dossier</span></strong> a été <br><span class="bubble visits-not-available">refusée</span></p>
      <% end %>
    </div>
    <div class="card-small-three-blocks--third">
      <% if renting_folder.visit.schedule.flat.user.photo&.attached?  %>
        <%= image_tag renting_folder.visit.schedule.flat.user.photo, class: "avatar-middle bordered white" %>
      <% else %>
        <%= image_tag ("avatar.png"), class: 'avatar-middle bordered white' %>
      <% end %>
    </div>
  <% end %>
  <div class="modal fade" id="exampleModalRentingFolder<%= status %><%= counter_renting %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalRentingFolderTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            <% if renting_folder.status == 'pending'%>
              Ton dossier est en cours de traitement
            <% elsif renting_folder.status == 'accepted'%>
              Félicitation ! Te voilà locataire
            <% else %>
              Malheureusement ton dossier a été refusé
            <% end %>
          </h5>
        </div>
        <div class="modal-body">
          <% if renting_folder.status == 'pending'%>
            <h6><strong><span class="font-coral"><%= renting_folder.visit.schedule.flat.user.first_name.capitalize %></span></strong> va bientôt prendre connaissance de ton dossier</h6>
            <p>En attendant, voilà un lien vers un <i><strong><a class="font-coral" href="https://skribbl.io/">pictionnary en ligne</a></strong></i> pour que l'attente soit plus fun</p>
          <% elsif renting_folder.status == 'accepted' %>
            <h6><strong><span class="font-coral"><%= renting_folder.visit.schedule.flat.user.first_name.capitalize %></span></strong> t'a choisi pour devenir son locataire !</h6>
            <p>Maintenant, passons à la partie administrative.</p>
            <p>On se retrouve sur ton espace <strong><%= link_to "'Ma Location'", renting_path(renting_folder.renting), class:"font-coral"%></strong></p>
          <% else %>
            <h6><strong><span class="font-coral"><%= renting_folder.visit.schedule.flat.user.first_name.capitalize %></span></strong> n'a pas décidé de continuer, et sa sentence est irrévocable...</h6>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= link_to 'Fermer', "#", class:"delete-link", data: { dismiss: "modal"} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
