<div class="card-product">
  <%= cl_image_tag accepted_visit[0].user.photo.key%>
  <div>
    <div class="coral-visite-rented label-visit">
      Visite
    </div>
  </div>
  <div class="card-product-infos">
    <p><strong><%= accepted_visit.first.user.first_name %></strong> viendra visiter votre appartement le <strong><%= schedule.start.strftime("%d/%m") %> de <%= schedule.start.strftime("%H:%M") %> à <%= schedule.end.strftime("%H:%M") %></strong></p>
    <i class="fas fa-check-circle accepted-logo"></i>
  </div>
</div>
