<div class="card-upload-doc <%= backer_document_attached?(backer, file) ? "fulfill" : "empty"%>">
  <p><%= title %></p>
  <% if backer_document_attached?(backer, file) %>
    <%= simple_form_for @document, url: documents_path(backer: backer), class:"form_to_upload_js", namespace: "#{backer.id}_#{file}", method: 'post' do |f| %>
      <%= f.hidden_field :title, value: file.to_sym %>
      <%= f.input :docs, as: :file, input_html: { class: 'hidden d-none' }, label: ("#{image_tag('sync_files.svg')}").html_safe, label_html: { class: "add-file-clickable"}%>
      <%= f.submit "Ajouter", class: "koobo-button hide-file submit-file-upload" %>
    <% end %>
    <% if document_in_renting?(current_user) %>
      <%= link_to backer_document_path(backer_document_attached(backer, file)), method: 'delete', data: { confirm: "Tu veux supprimer le document ?" } do %>
        <i class="fas fa-times delete-document"></i>
      <% end %>
      <p class="file-name"><i><%= backer_document_attached(backer, file).document.docs.first.filename.to_s %></i></p>
    <% else %>
      <%= link_to document_path(backer_document_attached(backer, file).document), method: 'delete', data: { confirm: "Tu veux supprimer le document ?" } do %>
        <i class="fas fa-times delete-document"></i>
      <% end %>
      <p class="file-name"><i><%= backer_document_attached(backer, file).document.docs.first.filename.to_s %></i></p>
    <% end %>
  <% else %>
    <%= simple_form_for @document, url: documents_path(backer: backer), class:"form_to_upload_js", namespace: "#{backer.id}_#{file}", method: 'post' do |f| %>
      <%= f.hidden_field :title, value: file.to_sym %>
      <%= f.input :docs, as: :file, input_html: { class: 'hidden d-none' }, label: ("#{image_tag('add_file2.svg')}").html_safe, label_html: { class: "add-file-clickable"}%>
      <%= f.submit "Ajouter", class: "koobo-button hide-file submit-file-upload" %>
    <% end %>
  <% end %>
</div>
