<div class="card-request product-pending" id = "blabla">
  <% if request.is_a?(Visit) %>
      <% if request.user&.photo&.attached? %>
        <%= image_tag request.user.photo %>
      <% else %>
        <%= image_tag ("avatar.png") %>
      <% end %>
    <% else %>
      <% if request.visit.user&.photo&.attached? %>
        <%= image_tag request.visit.user.photo %>
      <% else %>
        <%= image_tag ("avatar.png") %>
      <% end %>
    <% end %>
  <% if request.is_a?(Visit) %>
    <div class="label-coral label-visit">
      Visite
    </div>
    <div class="card-request-infos-pending ">
      <p><strong><%= request.user.first_name %></strong> souhaite visiter le bien le <br><strong><%= request.schedule.start.strftime("%d/%m") %> de <%= request.schedule.start.strftime("%H:%M") %> à <%= request.schedule.end.strftime("%H:%M") %></strong></p>
      <div class="card-request-contact">
        <p class= "btn-card-request"><i class="fas fa-phone-alt"></i><%= request.user.phone_number.scan(/../).join(" ")%></p>
        <button class="btn-card btn-accept-border">Dossier</button>
      </div>
    </div>
  <% else %>
    <div class="label-gray label-folder">
      Dossier
    </div>
    <div class="card-request-infos-pending">
      <p><strong><%= request.visit.user.first_name %></strong> a finalisé son dossier. Prêt(e) à étudier son dossier ?</p>
      <div class="card-request-contact">
        <p class= "btn-card-request"><i class="fas fa-phone-alt"></i><%= request.visit.user.phone_number.scan(/../).join(" ")%></p>
        <button class="btn-card">Voir le dossier</button>
      </div>
    </div>
  <% end %>
  <!--Will be in a modal -->
  <%#= link_to "accepter", schedule_visit_path(request.schedule, request, visit: { status: "accepted"}), method: :patch, remote: :true, class: "btn koobo-button btn-accept"%>
  <%#= link_to "refuser", schedule_visit_path(request.schedule, request, visit: { status: "denied"}), method: :patch, remote: :true, class: "btn koobo-button btn-refuse"%>
</div>
