<div class="card-request">
  <% if request.is_a?(Visit) %>
    <% if request.user&.photo&.attached? %>
      <%= image_tag request.user.photo %>
    <% else %>
      <%= image_tag ("avatar.png") %>
    <% end %>
  <% else %>
    <% if visit.user&.photo&.attached? %>
      <%= image_tag request.visit.user.photo %>
    <% else %>
      <%= image_tag ("avatar.png") %>
    <% end %>
  <% end %>
  <% if request.is_a?(Visit) %>
    <div>
      <div class="label-coral label-visit">
        Visite
      </div>
    </div>
    <% if request.status == 'accepted'%>
      <div class="card-request-infos">
        <p><strong><%= request.user.first_name %></strong> viendra visiter votre bien le <strong><%= request.schedule.start.strftime("%d/%m") %> de <%= request.schedule.start.strftime("%H:%M") %> à <%= request.schedule.end.strftime("%H:%M") %></strong></p>
        <i class="fas fa-check-circle accepted-logo"></i>
      </div>
    <% else %>
      <div class="card-request-infos">
        <p>Tu n'as pas donné suite à la demande de <strong><%= request.user.first_name %></strong> pour sa demande de visite du <strong><%= request.schedule.start.strftime("%d/%m") %></strong></p>
      </div>
    <% end %>
  <% else %>
    <div>
      <div class="label-coral label-folder">
        Dossier
      </div>
    </div>
    <% if  request.status == 'accepted'%>
      <div class="card-request-infos">
        <p><strong><%= request.visit.user.first_name %></strong> est votre locataire !</p>
        <i class="fas fa-check-circle accepted-logo"></i>
      </div>
    <% else %>
      <div class="card-request-infos">
        <p>Tu n'as pas donné suite à la demande de <strong><%= request.users.first.first_name %></strong> pour sa demande de visite du <strong><%= request.visit.schedule.start.strftime("%d/%m") %></strong></p>
      </div>
    <% end %>
  <% end %>
</div>
