<div id="dashboard-js">
  <div class="dashboard-wrapper">
    <a href="/">
      <p class="logo-text"><span class="k-logo">K</span>oobo</p>
    </a>
    <div class="dashboard-line" id="dashboard">
      <%= link_to dashboard_path do %>
        <i class="fas fa-columns icon-dashboard fa-2x"></i>
        <p>Dashboard</p>
        <span class="notif-counter" id="calendar-counter">
          <!-- Here will be notifications -->
      <% end %>
    </div>
    <% unless renting == "empty" %>
      <div class="dashboard-line" id="current-renting">
        <%= link_to renting_path(renting) do %>
          <i class="far fa-file-alt icon-dashboard fa-2x"></i>
          <p>Ma location</p>
          <span class="notif-counter" id="calendar-counter">
            <!-- Here will be notifications -->
          </span>
        <% end %>
      </div>
    <% end %>
    <div class="dashboard-line" id="my-file">
      <%= link_to records_path() do %>
        <i class="fas fa-folder-open icon-dashboard fa-2x"></i>
        <p>Mon dossier</p>
        <span class="notif-counter" id="calendar-counter">
          <!-- Here will be notifications -->
        </span>
      <% end %>
    </div>
    <div class="dashboard-line" id="search">
      <%= link_to search_path do %>
        <i class="fas fa-search-location icon-dashboard fa-2x"></i>
        <p>Recherche</p>
        <span class="notif-counter" id="calendar-counter">
          <!-- Here will be notifications -->
        </span>
      <% end %>
    </div>
    <div class="dashboard-line" id="my-askings">
      <%= link_to visits_path do %>
        <i class="fas fa-tags icon-dashboard fa-2x"></i>
        <p>Mes demandes</p>
        <span class="notif-counter " id="calendar-counter">
          <!-- Here will be notifications -->
        </span>
      <% end %>
    </div>
    <div class="dashboard-line" id="profil">
      <%= link_to '#' do %>
        <i class="far fa-user icon-dashboard fa-2x"></i>
        <p>Mon profil</p>
        <span class="notif-counter " id="calendar-counter">
          <!-- Here will be notifications -->
        </span>
      <% end %>
    </div>
  </div>
</div>
