<% counter_appartement = 0 %>
<% counter_calendrier = 0 %>
<% counter_documents = 2 %>
<% counter_profil = 0 %>

<div id="dashboard-js">
  <div class="dashboard-wrapper">
    <div class="pt-3 pb-5">
      <a href="/flats"><p class="logo-text"><span id="k-logo">K</span>oobo</p></a>
    </div>
      <div class="dashboard-line" id="appartements">
        <%= link_to flats_path do %>
          <i class="fas fa-home icon-dashboard fa-2x"></i>
          <p>Mes appartements</p>
          <% if counter_appartement == 0 %>
          <% else %>
            <span class="notif-counter"><%= counter_appartement %></span>
          <% end %>
        <% end %>
      </div>
      <div class="dashboard-line mb-3" id="calendrier">
        <%= link_to schedules_path do %>
          <i class="far fa-calendar-alt icon-dashboard fa-2x"></i>
          <p>Mes visites</p>
          <% if counter_calendrier == 0 %>
          <% else %>
            <span class="notif-counter"><%= counter_calendrier %></span>
          <% end %>
        <% end %>
      </div>
      <div class="dashboard-line mb-3" id="documents">
        <%= link_to documents_path do %>
          <i class="far fa-file-alt icon-dashboard fa-2x"></i>
          <p>Mes documents</p>
          <% if counter_documents == 0 %>
          <% else %>
            <span class="notif-counter"><%= counter_documents %></span>
          <% end %>
        <% end %>
      </div>
      <div class="dashboard-line mb-3" id="profil">
        <a href="">
          <i class="far fa-user icon-dashboard fa-2x"></i>
          <p>Mon profil</p>
          <% if counter_profil == 0 %>
          <% else %>
            <span class="notif-counter"><%= counter_profil %></span>
          <% end %>
        </a>
      </div>
  </div>
</div>
