<% if multiple == true%>
  <div class="container-input-files-accordion">
    <div class="header-file-uplaod">
      <%= link_to link, target: '_blank' do %>
        <i class="fas fa-question-circle question-icon"></i>
      <% end %>
    </div>
    <div class="body-file">
      <div class="file-upload-form">
        <%= simple_form_for @record, url: record_path, method: 'patch' do |f| %>
          <% if @record.send(file).attached? && @record.send(file).count == 3 %>
            <%= f.input file.to_sym, as: :file, input_html: { multiple: multiple, class: 'hidden d-none' }, label: ('<i class="fas fa-check-circle"></i>').html_safe, label_html: { class: "add-file-clickable uploaded-document", id: "js-#{file}"}%>
          <% else %>
            <%= f.input file.to_sym, as: :file, input_html: { multiple: multiple, class: 'hidden d-none' }, label: ('<i class="fas fa-cloud-download-alt"></i>').html_safe, label_html: { class: "add-file-clickable", id: "js-#{file}"}%>
          <% end %>
          <%= f.submit "Ajouter", class: "koobo-button hide-file", id: "submit-file-upload-#{file}" %>
        <% end %>
      </div>
      <div class="file-delete-form">
        <% if @record.send(file).attached? %>
          <% file_counter = 0 %>
          <% @record.send(file).each do |f| %>
            <p id="file-name"><i><%= @record.send(file)[file_counter].filename %></i>
            <%= link_to purge_document_record_path(file: file, file_position: file_counter), method: 'delete', data: { confirm: "Tu veux supprimer le document ?" } do %>
              <i class="fas fa-times" style="margin-left: 15px !important;"></i>
            <% end %>
            <% file_counter += 1 %>
          <% end %>
          </p>
        <% else %>
          <% if file == 'payslips' %>
            <p>Les bulletins de salaire sont indispensables à un bon dossier !</p>
          <% elsif file == 'rent_receipts' %>
            <p>Les quittances de loyer permettent au propriétaire de s'assurer que vous êtes un bon payeur !</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="container-input-files-accordion">
    <div class="header-file-uplaod">
      <%= link_to link, target: '_blank' do %>
        <i class="fas fa-question-circle question-icon"></i>
      <% end %>
    </div>
    <div class="body-file">
      <div class="file-upload-form">
        <%= simple_form_for @record, url: record_path, method: 'patch' do |f| %>
          <% if @record.send(file).attached? %>
            <%= f.input file.to_sym, as: :file, input_html: { class: 'hidden d-none' }, label: ('<i class="fas fa-check-circle"></i>').html_safe, label_html: { class: "add-file-clickable uploaded-document", id: "js-#{file}"}%>
          <% else %>
            <%= f.input file.to_sym, as: :file, input_html: { class: 'hidden d-none' }, label: ('<i class="fas fa-cloud-download-alt"></i>').html_safe, label_html: { class: "add-file-clickable", id: "js-#{file}"}%>
          <% end %>
          <%= f.submit "Ajouter", class: "koobo-button hide-file", id: "submit-file-upload-#{file}" %>
        <% end %>
      </div>
      <div class="file-delete-form">
        <% if @record.send(file).attached? %>
          <p id="file-name"><i><%= @record.send(file).filename %></i>
          <%= link_to purge_document_record_path(:file => file), method: 'delete', data: { confirm: "Tu veux supprimer le document ?" } do %>
            <i class="fas fa-times" style="margin-left: 15px !important;"></i>
          <% end %>
          </p>
        <% else %>
          <% if file == 'identity_card' %>
            <p>La carte d'identité fait parti des éléments indispensables à un bon dossier !</p>
          <% elsif file == 'proof_residence' %>
            <p>Facture edf, Facture téléphone, taxe d'habitation...</p>
          <% elsif file == 'notice_assessment' %>
            <p>Ton dernier avis d'imposition </p>
          <% elsif file == 'student_card' %>
            <p>Un document attestant votre statut d'étudiant. Une carte étudiante, un certificat de scolarité ...</p>
          <% elsif file == 'bank_identity' %>
            <p>Le relevé d'identité bancaire via lequel le règlement des loyers va être effectué</p>
          <% else %>
            <p>Ce document fait parti des éléments indispensables à un bon dossier !</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
