<div class="container">
  <div class="navbar-dashboard">
    <h2><%= page_title %></h2>
    <div class="element-right">
      <div class="nav-item dropleft">
        <%= link_to "#" , id: "navbarDropdownNotif", data: { toggle: "dropdown", "user-id" => current_user.id }, 'aria-haspopup': true, 'aria-expanded': false do %>
          <i class="far fa-bell fa-2x" id="bell-notification"></i>
          <span>2</span>
        <% end %>
        <div class="dropdown-menu drodropdown-menu-dashboard" aria-labelledby="navbarDropdownNotif">
          <%= link_to render(:partial => 'shared/notifications') , schedules_path, class: 'dropdown-item' %>

          <!-- WILL BE HERE ALL VISITE PENDING AND DOCUMENTS NOTIFICATIONS-->
        </div>
      </div>
      <div class="nav-item dropdown">
        <%= link_to '#', id: "navbarDropdownProfil", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-bordered mr-2" %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
          <% end %>
        <%= current_user.first_name %> <%= current_user.last_name %>
        <% end %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownProfil">
          <%= link_to 'Profil', flats_path, class: 'dropdown-item' %>
          <%= link_to 'Se déconnecter', destroy_user_session_path, class: 'dropdown-item', method: 'delete' %>
        </div>
      </div>
    </div>
  </div>
</div>
