<div class="navbar-dashboard">
  <div class="nav-item dropleft">
    <div id="notif-container" class="<%= "active" if @counter != 0 %>">
      <%= link_to "#" , id: "navbarDropdownNotif", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
        <i class="far fa-bell fa-2x" id="bell-notification"></i>
        <div id="bell-counter">
          <%= @counter %>
        </div>
      <% end %>
      <div class="dropdown-menu drodropdown-menu-dashboard" aria-labelledby="navbarDropdownNotif">
        <div class="dropdown-item">
          <%= render(:partial => 'shared/notifications') %>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-item dropleft" id="user">
    <% if current_user.photo.attached? %>
      <%= link_to '#', id: "navbarDropdownProfil", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
        <%= image_tag current_user.photo, class: "avatar-large bordered-gray" %>
      <% end %>
    <% else %>
      <%= image_tag ("avatar.png"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
    <div class="dropdown-menu drop-profil" aria-labelledby="navbarDropdownProfil">
      <%= link_to 'Profil', flats_path, class: 'dropdown-item' %>
      <%= link_to 'Se déconnecter', destroy_user_session_path, class: 'dropdown-item', method: 'delete' %>
      <% if current_user.renter %>
        <%= link_to "Locataire", update_user_renter_path(current_user),class: 'dropdown-item', method: 'patch' %>
      <% else %>
        <%= link_to "Propriétaire", update_user_renter_path(current_user),class: 'dropdown-item', method: 'patch' %>
      <% end %>
    </div>
  </div>
</div>

