<% if  number == max_number && max_number == 7*@records.count %>
  <% status = "global_complete" %>
<% elsif max_number == 7*@records.count + 4*@backers.count %>
  <% status = "global" %>
<% else %>
  <% status = "" %>
<% end %>
<div class="progress">
  <div class="progress-bar" id="<%= status %>" role="progressbar" style="width: <%= number_to_percentage((number.to_f / max_number.to_f)*100, precision: 0)%>;" aria-valuenow="<%= number %>" aria-valuemin="0" aria-valuemax="<%=  max_number %>"><%= number_to_percentage((number.to_f / max_number.to_f)*100, precision: 0)  %></div>
</div>

