  <div class="dashboard-data-set" data-line="my-file">
    <div class="screen-container">
      <div class="dashboard-container full">
        <% if user_current_renting?(current_user) %>
          <%= render partial: 'shared/dashboard_tenant', locals: { renting: user_current_renting(current_user)} %>
        <% else %>
          <%= render partial: 'shared/dashboard_tenant', locals: { renting: "empty" }%>
        <% end %>
      </div>
      <div class="nav-container full">
        <%= render partial: 'shared/navbar_dashboard', locals: { notif_counter: @counter} %>
        <h3>Mon dossier</h3>
      </div>
      <div class="content-container full">
        <div class="record-show-grid">
          <div class="record-show-grid--documents">
            <div class="card-positioning">
              <h5><%= current_user.first_name.nil? ? "" : current_user.first_name.capitalize %>, voici l'endroit où tu vas pouvoir préparer ton dossier de location</h5>
              <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Documents obligatoires
                      </button>
                    </h5>
                    <h6 class="<%= number_document_mandatory_attached(@record) == 3 ? "font-green" : "font-orange" %>"><%= number_document_mandatory_attached(@record) %>/3 documents joins</h6>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <div class="row" id="pills-container">
                        <div class="col-5" id="pills-header">
                          <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link <%= @record.identity_card.attached? ? "good" : "" %> active" id="v-pills-identity-card-tab" data-toggle="pill" href="#v-pills-identity-card" role="tab" aria-controls="v-pills-identity-card" aria-selected="true">Carte d'identité
                              <% if @record.identity_card.attached? %>
                                <i class="fas fa-check-circle font-green"></i>
                              <% end %>
                            </a>
                            <a class="nav-link <%= @record.payslips.count == 3 ? "good" : "" %>" id="v-pills-payslips-tab" data-toggle="pill" href="#v-pills-payslips" role="tab" aria-controls="v-pills-payslips" aria-selected="false">Bulletins de salaire (<%= @record.payslips.attached? ? @record.payslips.count : "0" %>/3)
                              <% if @record.payslips.count == 3 %>
                                <i class="fas fa-check-circle font-green"></i>
                              <% end %>
                            </a>
                            <a class="nav-link <%= @record.proof_residence.attached? ? "good" : "" %>" id="v-pills-proof-residence-tab" data-toggle="pill" href="#v-pills-proof-residence" role="tab" aria-controls="v-pills-proof-residence" aria-selected="false">Justificatif de domicile
                              <% if @record.proof_residence.attached? %>
                                <i class="fas fa-check-circle font-green"></i>
                              <% end %>
                            </a>
                          </div>
                        </div>
                        <div class="col-7">
                          <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-identity-card" role="tabpanel" aria-labelledby="v-pills-identity-card-tab">
                              <%= render partial: 'shared/form_upload_fil_record', locals: { title: "Carte d'identité", link: "https://www.service-public.fr/particuliers/vosdroits/F1169", file: "identity_card", record: @record, multiple: false} %>
                            </div>
                            <div class="tab-pane fade " id="v-pills-payslips" role="tabpanel" aria-labelledby="v-pills-payslips-tab">
                              <%= render partial: 'shared/form_upload_fil_record', locals: { title: "Bulletins de salaire", link: "https://www.service-public.fr/particuliers/vosdroits/F1169", file: "payslips", record: @record, multiple: true} %>
                            </div>
                            <div class="tab-pane fade" id="v-pills-proof-residence" role="tabpanel" aria-labelledby="v-pills-proof-residence-tab">
                              <%= render partial: 'shared/form_upload_fil_record', locals: { title: "Justificatif de domicile", link: "https://www.service-public.fr/particuliers/vosdroits/F1169", file: "proof_residence", record: @record, multiple: false} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Documents optionnels
                      </button>
                    </h5>
                    <h6 class="<%= number_document_optional_attached(@record) == 4 ? "font-green" : "font-orange" %>"><%= number_document_optional_attached(@record) %>/4 documents joins</h6>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      <div class="row" id="pills-container">
                        <div class="col-5" id="pills-header">
                          <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link <%= @record.notice_assessment.attached? ? "good" : "" %> active" id="v-pills-notice-assessment-tab" data-toggle="pill" href="#v-pills-notice-assessment" role="tab" aria-controls="v-pills-notice-assessment" aria-selected="true">Avis d'imposition
                              <% if @record.notice_assessment.attached? %>
                                <i class="fas fa-check-circle font-green"></i>
                              <% end %>
                            </a>
                            <a class="nav-link <%= @record.rent_receipts.count == 3 ? "good" : "" %>" id="v-pills-rent-receipts-tab" data-toggle="pill" href="#v-pills-rent-receipts" role="tab" aria-controls="v-pills-rent-receipts" aria-selected="false">Quittances de loyer (<%= @record.rent_receipts.attached? ? @record.rent_receipts.count : "0" %>/3)
                              <% if @record.rent_receipts.count == 3 %>
                                <i class="fas fa-check-circle font-green"></i>
                              <% end %>
                            </a>
                            <a class="nav-link <%= @record.student_card.attached? ? "good" : "" %>" id="v-pills-student-card-tab" data-toggle="pill" href="#v-pills-student-card" role="tab" aria-controls="v-pills-student-card" aria-selected="false">Justificatif d'étude (si étudiant)
                              <% if @record.student_card.attached? %>
                                <i class="fas fa-check-circle font-green"></i>
                              <% end %>
                            </a>
                            <a class="nav-link <%= @record.bank_identity.attached? ? "good" : "" %>" id="v-pills-bank-identity-tab" data-toggle="pill" href="#v-pills-bank-identity" role="tab" aria-controls="v-pills-bank-identity" aria-selected="false">Relevé d'identité bancaire
                              <% if @record.bank_identity.attached? %>
                                <i class="fas fa-check-circle font-green"></i>
                              <% end %>
                            </a>
                          </div>
                        </div>
                        <div class="col-7">
                          <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-notice-assessment" role="tabpanel" aria-labelledby="v-pills-notice-assessment-tab">
                              <%= render partial: 'shared/form_upload_fil_record', locals: { title: "Avis d'imposition", link: "https://www.service-public.fr/particuliers/vosdroits/F1169", file: "notice_assessment", record: @record, multiple: false} %>
                            </div>
                            <div class="tab-pane fade " id="v-pills-rent-receipts" role="tabpanel" aria-labelledby="v-pills-rent-receipts-tab">
                              <%= render partial: 'shared/form_upload_fil_record', locals: { title: "Quittances de loyer", link: "https://www.service-public.fr/particuliers/vosdroits/F1169", file: "rent_receipts", record: @record, multiple: true} %>
                            </div>
                            <div class="tab-pane fade" id="v-pills-student-card" role="tabpanel" aria-labelledby="v-pills-student-card-tab">
                              <%= render partial: 'shared/form_upload_fil_record', locals: { title: "Justificatif d'étude'", link: "https://www.service-public.fr/particuliers/vosdroits/F1169", file: "student_card", record: @record, multiple: false} %>
                            </div>
                            <div class="tab-pane fade" id="v-pills-bank-identity" role="tabpanel" aria-labelledby="v-pills-bank-identity-tab">
                              <%= render partial: 'shared/form_upload_fil_record', locals: { title: "Relevé d'identité bancaire", link: "https://www.service-public.fr/particuliers/vosdroits/F1169", file: "bank_identity", record: @record, multiple: false} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="record-show-grid--stats">
            <div class="card-positioning">
              <div class="record-show-grid--stats--header">
                <% if current_user.photo.attached? %>
                  <%= image_tag current_user.photo, class: "avatar-large bordered white" %>
                <% else %>
                  <%= image_tag ("avatar.png"), class: "avatar-large bordered"%>
                <% end %>
                <p><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></p>
                <%= render partial: 'shared/progression', locals: { number: (number_document_mandatory_attached(@record) + number_document_optional_attached(@record)), max_number: 7} %>
              </div>
              <div class="record-show-grid--stats--body">
                <h6>Documents obligatoires</h6>
                <%= render partial: 'shared/progression', locals: { number: number_document_mandatory_attached(@record), max_number: 3} %>
                <ul>
                  <li>
                    <p>
                      <%= render partial: 'shared/icon_status', locals: { file: 'identity_card', record: @record, multiple: false} %>
                      Carte d'identité
                    </p>
                  </li>
                  <li>
                    <p>
                      <%= render partial: 'shared/icon_status', locals: { file: 'payslips', record: @record, multiple: true} %>
                      Bulletins de salaire
                    </p>
                  </li>
                  <li>
                    <p>
                      <%= render partial: 'shared/icon_status', locals: { file: 'proof_residence', record: @record, multiple: false} %>
                      Justificatif de domicile
                    </p>
                  </li>
                </ul>
                <h6>Documents optionnels</h6>
                <%= render partial: 'shared/progression', locals: { number: number_document_optional_attached(@record), max_number: 4} %>
                <ul>
                  <li>
                    <p>
                      <%= render partial: 'shared/icon_status', locals: { file: 'notice_assessment', record: @record, multiple: false} %>
                      Avis d'imposition
                    </p>
                  </li>
                  <li>
                    <p>
                      <%= render partial: 'shared/icon_status', locals: { file: 'rent_receipts', record: @record, multiple: true} %>
                      Quittances de loyer
                    </p>
                  </li>
                  <li>
                    <p>
                      <%= render partial: 'shared/icon_status', locals: { file: 'student_card', record: @record, multiple: false} %>
                      Justificatif d'étude
                    </p>
                  </li>
                  <li>
                    <p>
                      <%= render partial: 'shared/icon_status', locals: { file: 'bank_identity', record: @record, multiple: false} %>
                      Relevé d'identité bancaire
                    </p>
                  </li>
                </ul>
                <% if ((number_document_mandatory_attached(@record) + number_document_optional_attached(@record)) / 7) == 1 %>
                  <h6 id="record-show-grid--stats-footer">Super ! Ton profil est maintenant complet </h6>
                <% elsif ((number_document_mandatory_attached(@record) + number_document_optional_attached(@record)) / 7) > 0.50 %>
                  <h6 id="record-show-grid--stats-footer">Plus qu'un petit effort et ton profil sera complété</h6>
                <% else %>
                  <h6 id="record-show-grid--stats-footer">Pour mettre toutes tes chances de ton côté, renseigne ton profil !</h6>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
