<div id="container-home">
  <section id="container-header-home">
    <%= render partial: 'shared/navbar_home' %>
    <%= image_tag 'flat', id:'flat-banner' %>
    <%= image_tag 'handshake', id:'people-handshake' %>
    <%= image_tag 'square-circle', id:'half-circle' %>
    <div id="inside-banner">
      <div id="inside-banner-top">
        <h1>Gérez vos biens immobiliers </h1>
        <h2><span id="banner-typed-text"></span></h2>
      </div>
      <div id="mc_embed_signup">
        <form action="https://koobo.us19.list-manage.com/subscribe/post?u=d13e88aca98fcba329f1499e2&amp;id=35c8f45173" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="subscribe-mail" id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="simple-form-subscribe" id="mce-EMAIL" placeholder="Mon email..." required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d13e88aca98fcba329f1499e2_35c8f45173" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button-subscribe-home"></div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section id="section-two">
    <div id="section-two-header">
      <h2><span class="linecoral">Centralisez vos démarches</span></h2>
      <div class ="cards-home">
        <div class="card-section-two">
          <h4><b>Gestion</b></h4>
          <%= image_tag("gestion.png") %>
          <p>Avis d'échéances - Quittances - Charges - Archivage légal</p>
        </div>
        <div class="card-section-two">
          <h4><b>Location</b></h4>
          <%= image_tag("location.png") %>
          <p>Multi-diffusion des annonces - Trouvez votre locataire rapidement - BAIL réglementaire</p>
        </div>
        <div class="card-section-two">
          <h4><b>Simplicité</b></h4>
          <%= image_tag 'digit' %>
          <p>Réactivité - Traçabilité - Modernité - Signature électronique</p>
        </div>
      </div>
    </div>
  </section>
  <section id="section-three">
    <div class="two-element">
      <div>
        <h2>Sélectionnez votre locataire <span class="linecoral">rapidement</span></h2>
        <p>
          1 seul clic pour diffuser votre annonce sur les sites les plus populaires. Gagnez du temps dans la constitution des dossiers de location. De la candidature à la sélection du locataire, un service simplifié et automatisé.
        </p>
        <h2>Déjà en location ?</h2>
        <p>
          Pas de problème ! Nous nous chargeons de guider votre locataire dans l'inscription et les démarches.
        </p>
        <% if user_signed_in? %>
          <%= link_to "C'est parti !", dashboard_path, class: 'button-subscribe-home' %>
        <% else %>
          <%= link_to "C'est parti !", new_user_registration_path, class: 'button-subscribe-home' %>
        <% end %>
      </div>
      <div>
        <%= image_tag 'teamwork', class: "middle-image" %>
      </div>
    </div>
    <div id="one-element">
      <h2>Gestion complète</h2>
      <p>
        À partir des informations enregistrées dans le dossier de location, <strong><span style='color: #EE8572'>k</span>oobo</strong> génère un bail électronique agréé par le Ministère du Logement incluant toutes les annexes obligatoires et les dernières règles en vigueur.
        Sur toute la durée du bail, votre locataire est notifié(e) et relancé(e) automatiquement par mail suivant un échéancier régulier.
        Vous êtes notifié(e) des démarches réalisées par <strong><span style='color: #EE8572'>k</span>oobo</strong> auprès de votre locataire.
        Tous les documents transmis par mail restent accessibles en ligne dans votre espace personnel et celui de votre locataire.
        Avec la signature électronique à valeur probante par l'ensemble des parties, <strong><span style='color: #EE8572'>k</span>oobo</strong> vous garantit une rapidité d’exécution exceptionnelle !
      </div>
      <div class="two-element">
        <div>
          <h2><span class="linecoral">Tranquillité d'esprit</span></h2>
          <p>
            1 seul clic pour diffuser votre annonce sur les sites les plus populaires. Gagnez du temps dans la constitution des dossiers de location. De la candidature à la sélection du locataire, un service simplifié et automatisé.
          </p>
          <% if user_signed_in? %>
            <%= link_to "C'est parti !", dashboard_path, class: 'button-subscribe-home' %>
          <% else %>
            <%= link_to "C'est parti !", new_user_registration_path, class: 'button-subscribe-home' %>
          <% end %>
        </div>
        <div>
          <%= image_tag 'tranquille' %>
        </div>
      </div>
    </div>
  </section>
  <div id="footer">
    <div id="footer-links">
      <p>Suivez-nous</p>
      <span>
        <a href="https://www.facebook.com/Kooboco-101419851442347/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/captain_koobo" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/42906448/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </span>
    </div>
    <div id="footer-copyright">
      <p><strong><span style='color: #EE8572'>k</span>oobo</strong> 2020</p>
      <p>bokoo@koobo.co</p>
    </div>
  </div>
</div>
