<div id="container-home">
  <div id="navbar-home">
    <div id="navbar-home--left">
      <%= link_to root_path, id:"koobo-logo" do %>
        <h2 ><strong><span class="k-logo">K</span><span class="oobo-logo">oobo</span></strong></h1>
      <% end %>
      <%= link_to '#' do %>
        <p>Tarifs</p>
      <% end %>
      <%= link_to '#' do %>
        <p>Blog</p>
      <% end %>
      <%= link_to '#' do %>
        <p>À propos</p>
      <% end %>
      <%= link_to '#', class:"active" do %>
        <p>Contact</p>
      <% end %>
    </div>
    <div id="navbar-home--right">
      <% if user_signed_in? %>
        <%= link_to "Dashboard", dashboard_path, class:"button-sign-home blue" %>
      <% else %>
        <%= link_to 'Se connecter', new_user_session_path, class:"button-no-style" %>
        <%= link_to "S'inscrire", new_user_registration_path, class:"button-sign-home blue" %>
      <% end %>
    </div>
  </div>
  <div id="banner-home">
    <div id="banner-home--left">
      <h1>Arrêtez de perdre du <br> temps dans votre <br>gestion locative</h1>
      <%= link_to "S'inscrire", new_user_session_path, class:"button-sign-home coral" %>
    </div>
    <div id="banner-home--right">
      <%= image_tag ('mockup-1'), class:'mockup-images' %>
      <ul>
        <li class="bullet-grey"><a href="#"><i class="fas fa-circle"></i></a></li>
        <li class="bullet-grey"><a href="#"><i class="fas fa-circle"></i></a></li>
        <li class="bullet-grey"><a href="#"><i class="fas fa-circle"></i></a></li>
      </ul>
    </div>
  </div>
  <div id="valueprop-home">
    <h2 id="valueprop-home--header">
      <span class="linecoral">Koobo, votre assistant de gestion locative</span>
    </h2>
    <div id="value-prop-home--cards">
      <div class="home-card active" id="booked_time">
        <h6><span class="font-coral"><strong>Diviser par 5</strong></span> le temps consacré à la recherche d’un locataire</h6>
        <%= image_tag ('booked_time'), class:"image-home-value-prop" %>
      </div>
      <div class="home-card" id="automation_admin">
        <h6><span class="font-coral"><strong>Automatiser</strong></span> l’élaboration des documents administratifs</h6>
        <%= image_tag ('automation_admin'), class:"image-home-value-prop" %>
      </div>
      <div class="home-card" id="healthy_relation">
        <h6><span class="font-coral"><strong>Améliorer</strong></span> la relation avec son locataire</h6>
        <%= image_tag ('healthy_relation'), class:"image-home-value-prop" %>
      </div>
    </div>
  </div>
  <div class="details-valueprop-home-left">
    <div class="details-valueprop-home-left--header">
      <p class="font-number font-coral">1</p>
      <div class="details-valueprop-home-left--header--subheader">
        <h5>Publications et visites</h5>
        <p>Publications automatisées, visites, dossiers</p>
      </div>
    </div>
    <div class="details-valueprop-home-left--body">
      <%= image_tag ('publications_visits'), class:"image-home-value-prop-details" %>
      <div class="details-valueprop-home-left--body--details">
        <h5>Seloger, PAP, Leboncoin, Facebook.... <br>Avec Koobo, tout est au même endroit</h5>
        <ul>
          <li><h6><i class="fas fa-circle "></i>Vous choissiez les plateformes où vous souhaitez publier vos annonces</h6></li>
          <li><h6><i class="fas fa-circle"></i>Vous êtes libre de choisir les créneaux que vous souhaitez pour faire visiter votre bien</h6></li>
          <li><h6><i class="fas fa-circle"></i>Les candidats postulent directement sur Koobo et vous recevez leurs demandes</h6></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="details-valueprop-home-right">
    <div class="details-valueprop-home-right--header">
      <p class="font-number font-coral">2</p>
      <div class="details-valueprop-home-right--header--subheader">
        <h5>Automatisation des documents</h5>
        <p>Transparence, réactivité, humains</p>
      </div>
    </div>
    <div class="details-valueprop-home-right--body">
      <div class="details-valueprop-home-right--body--details">
        <h5>Vous n’êtes pas une imprimante,<br>Sauvez des arbres</h5>
        <ul>
          <li><h6><i class="fas fa-circle "></i>Les quittances sont envoyées automatiquement après votre validation</h6></li>
          <li><h6><i class="fas fa-circle "></i>Après avoir renseigné l’ensemble des documents, le bail est généré avec demande de signature électronique</h6></li>
          <li><h6><i class="fas fa-circle "></i>Accès à divers modèle de document</h6></li>
        </ul>
      </div>
      <img src="http://placehold.it/650x520" alt="">
    </div>
  </div>
  <div class="details-valueprop-home-left">
    <div class="details-valueprop-home-left--header">
      <p class="font-number font-coral">3</p>
      <div class="details-valueprop-home-left--header--subheader">
        <h5>Améliorer les échanges</h5>
        <p>Transparence, réactivité, humains</p>
      </div>
    </div>
    <div class="details-valueprop-home-left--body">
      <%= image_tag ('good_location'), class:"image-home-value-prop-details" %>
      <div class="details-valueprop-home-left--body--details">
        <h5>Une bonne location, <br> c’est une bonne relation humaine.</h5>
        <ul>
          <li><h6><i class="fas fa-circle "></i>Une messagerie pour être en contact direct avec votre locataire</h6></li>
          <li><h6><i class="fas fa-circle "></i>Un locataire à un soucis, il peut vous contacter en quelques secondes</h6></li>
          <li><h6><i class="fas fa-circle "></i>Vous garder une traçe de vos échanges</h6></li>
          <li><h6><i class="fas fa-circle "></i>Cadrer l’état des lieux d’entrée et de sortie. Nous offrons un guide des bonne pratiques pour un état des lieux réussi</h6></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="save-money-koobo">
    <h6>Économisez <span class="font-coral">790€ par an</span> 🍀 </h6>
    <p>En passant par Koobo, prix fixe mensuel de 5€ / mois pour un bien</p>
    <br>
    <p>930€ (will change)</p>
    <p>Montant du loyer hors charges par mois</p>
    <span>PROGRESSBAR</span>
    <button>S'inscrire</button>
    <p>Il y a le gain financier, où vous allez économiser par rapport aux frais d’agences, mais il y a également le gain de temps. <br>Avec koobo, vous allez également réduire se temps par deux (au minimum), pour vraiment vous recentrez l’essentiel </p>
  </div>
  <div id="tenant-present">
    <h2>Vous avez déjà un locataire ? </h2>
    <div id="tenant-present--details">
      <img src="http://placehold.it/550x470" alt="">
      <h6>Nous vous aidons étape par étape ainsi que votre locataire par téléphone !</h6>
    </div>
  </div>
  <div id="footer-home">
    <h2><strong><span class="k-logo">K</span>oobo</strong></h1>
      <p>hello world</p>
  </div>
</div>
