<div class="dashboard-data-set" data-line="search">
  <div class="screen-container">
    <div class="dashboard-container full">
      <% if user_current_renting?(current_user) %>
        <%= render partial: 'shared/dashboard_tenant', locals: { renting: user_current_renting(current_user)} %>
      <% else %>
        <%= render partial: 'shared/dashboard_tenant', locals: { renting: "empty" }%>
      <% end %>
    </div>
    <div class="nav-container full">
      <%= render partial: 'shared/navbar_dashboard', locals: { notif_counter: @counter} %>
    </div>
    <div class="content-container full">
      <div class="disposition-search-query">
        <div class="search-query">
          <%= simple_form_for :search, url: search_path, method: "get", defer: true, html: { class: '' } do |f| %>
            <%= f.input :property_advertisement, input_html: {value: ""}, label: "Tu as flashé sur un bien ? Donne nous sa référence", placeholder: "Koobo-12-xs.." %>
            <%= f.submit "Visiter", class: "koobo-button", value: 'Visiter' %>
          <% end %>
        </div>
        <% if params[:search].present? == false || params[:search].nil? %>
          <div class="pending-search-query">
            <%= image_tag ('celebration'), id: 'pending-image-small' %>
            <%= image_tag ('homeundraw'), id: 'pending-image-big' %>
          </div>
        <% else %>
          <div class="active-search-query">
            <div class="active-search-query--cards">
              <% @flats.each do |flat| %>
                <%= link_to '#' do %>
                  <div class="card-specific-search">
                    <%= image_tag flat.photos.first, class:"card-specific-search--photo"%>
                    <div class="card-specific-search--header">
                      <strong><h7><%= flat.name %></h7></strong>
                    </div>
                    <div class="card-specific-search--footer">
                      <div class="first-section">
                        <p class="address"><%= flat.address %> </p>
                      </div>
                      <div class="second-section">
                        <%= render partial: '/shared/flat_supplies', locals: {flat: flat} %>
                      </div>
                      <div class="third-section bubble <%= available_schedule(flat) == 0 ? 'visits-not-available' : 'visits-available' %>">
                        <% unless available_schedule(flat) == 0 %>
                          <p><%= available_schedule(flat)%> visites</p>
                        <% else %>
                          <p>Indisponible</p>
                        <% end %>
                      </div>
                      <div class="fourth-section bubble price">
                        <h8><%= flat.monthly_price.round  %>€</h8>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="active-search-query--map">
              <div id="map"
                data-markers="<%= @markers.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
