<%= link_to root_path, class: 'navbar-devise' do %>
  <h2><strong><span class="k-logo">k</span>oobo</strong></h2>
<% end %>
<div class="container login-container">
  <!-- Insert form here -->
  <div class="form-login">
    <h2>Se connecter</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "Email...." } %>
        <%= f.input :password, label: "Mot de passe",
                        required: false,
                        input_html: { autocomplete: "Mot de passe...." } %>
        <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Se connecter" , class: "btn koobo-button"%>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
  <img src="/login.png" alt="" class="image-login">
</div>
</div>