<% if current_user.renter == true %>
  <div class="dashboard-data-set" data-line="documents">
    <div class="screen-container">
      <div class="dashboard-container full">
        <% if current_user.renter == true %>
          <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules} %>
        <% else %>
          <%= render partial: 'shared/dashboard_tenant' %>
        <% end %>
      </div>
      <div class="nav-container full">
        <h3>Mes documents</h3>
        <%= render partial: 'shared/navbar_dashboard', locals: { page_title: 'Documents', notif_counter: @counter} %>
      </div>
      <div class="content-container full">
        <div class="container-index-rentings">
          <div class="grid-rentings">
            <div class="search-doc">
              <%= form_tag rentings_path, id: "search-documents", method: :get do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Que cherches-tu ? ... "
                %>
                <%= submit_tag "Chercher", class: "koobo-button" %>
              <% end %>
            </div>
            <div class="valid-doc">
              <div class="card-positioning">
                <h3>Documents validés</h3>
                <% @rentings.each do |renting| %>
                <div class="card-medium-two-blocks">
                  <%= image_tag renting.flat.photos.first, class:"card-medium-two-blocks--photo"%>
                  <div class="card-medium-two-blocks--footer__four">
                    <h4 class="card-medium-two-blocks--footer__title"><%= renting.flat.name  %></h4>
                    <div class="first-section">
                      <a href="#" data-toggle="modal" data-target="#exampleModal"><i class="far fa-file-pdf"></i></a>
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"> Vos bails </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>Bienvenue dans votre espce pour gerer vos bails</p>
                                <hr>
                                <% i = 0 %>
                                <% renting.bails.each do |bail| %>
                                <% i += 1 %>
                                  <a href="#"><i class="far fa-file-pdf"></i></a>
                                  <p>bail<%= i %></p>
                                <% end %>
                                <hr>
                                <%= simple_form_for renting do |f| %>
                                <%= f.input :bails, as: :file, input_html: { multiple: true, class: 'hidden d-none' }, label: "ajouter un bail", class: 'ajouter-doc' %>
                                <%= f.button :submit, "Enregistrer" ,class: 'btn btn-primary' %>
                                <% end %>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                      </div>
                      <p> baux </p>
                    </div>
                    <div class="second-section">
                        <a href="#" data-toggle="modal" data-target="#etats_des_lieux_Modal"><i class="far fa-file-pdf"></i></a>
                         <div class="modal fade" id="etats_des_lieux_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"> Vos bails </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>Bienvenue dans votre espce pour gerer vos Etats des Lieux</p>
                                <hr>
                                <% i = 0 %>
                                <ul>

                                    <li>

                                    </li>
                                </ul>
                                <% i += 1 %>
                                  <p>Etats des lieux<%= i %></p>

                                <hr>
                                <%= simple_form_for renting do |f| %>
                                <%= f.input :etats_des_lieux, as: :file, input_html: { multiple: true, class: 'hidden d-none' }, label: "ajouter un etats des lieux"%>
                                <%= f.button :submit, "Enregistrer" ,class: 'btn btn-primary' %>
                                <% end %>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p>Etat des lieux</p>
                    </div>
                    <div class="third-section">
                        <a href="#" data-toggle="modal" data-target="#quittances_Modal"><i class="far fa-file-pdf"></i></a>
                        <div class="modal fade" id="quittances_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"> Vos bails </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>Bienvenue dans votre espce pour gerer vos Quittences</p>
                                <hr>
                                <% i = 0 %>
                                <% renting.quittances.each do |quitance| %>
                                <% i += 1 %>
                                  <a href="#"><i class="far fa-file-pdf"></i></a>
                                  <p>Quittance <%= i %></p>
                                <% end %>
                                <hr>
                                <%= simple_form_for renting do |f| %>
                                <%= f.input :quittances, as: :file, input_html: { multiple: true, class: 'hidden d-none' }, label: "ajouter une quittance" %>
                                <%= f.button :submit, "Enregistrer" ,class: 'btn btn-primary' %>
                                <% end %>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p>Quittances</p>
                    </div>
                    <div class="fourth-section">
                        <a href="#"><i class="far fa-file-pdf"></i></a>
                        <p>Autres</p>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
            <div class="pending-doc">
              <div class="card-positioning">
                <h3>Documents à traiter</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/bottom_nav'%>
<% else %>
  <div class="dashboard-data-set" data-line="current-renting">
    <div class="screen-container">
      <div class="dashboard-container full">
        <% if user_current_renting?(current_user) %>
          <%= render partial: 'shared/dashboard_tenant', locals: { renting: user_current_renting(current_user)} %>
        <% else %>
          <%= render partial: 'shared/dashboard_tenant', locals: { renting: "empty" }%>
        <% end %>
      </div>
      <div class="nav-container full">
        <%= render partial: 'shared/navbar_dashboard', locals: { notif_counter: @counter} %>
      </div>
      <div class="content-container full">
      </div>
    </div>
  </div>
<% end %>
