<% current_tenants = helper_flat_current_tenants(@flat) %>
<div class="card-locataire">
<<<<<<< HEAD
  <% if @flat.rentings&.last&.user&.photo&.attached?  %>
    <%= image_tag @flat.rentings.last.user.photo, class: 'avatar-extra-large' %>
  <% if current_tenant.user&.photo&.attached? %>
    <%= image_tag current_tenant.user.photo, class: 'avatar-extra-large' %>
  <% else %>
    <%= image_tag ("avatar.png"), class: "avatar-extra-large" %>
=======
  <% helper_flat_current_tenants(@flat).each do |tenant| %>
    <% if tenant.photo&.attached?  %>
      <%= image_tag tenant.photo, class: "avatar-extra-large" %>
    <% else %>
      <%= image_tag ("avatar.png"), class: "avatar-extra-large" %>
    <% end %>
>>>>>>> master
  <% end %>
  <div class="card-name-locataire">
    <% helper_flat_current_tenants(@flat).each do |tenant| %>
      <h4><%= tenant.first_name %> <%= tenant.last_name %></h4>
    <% end %>
    <p>Locataire depuis <%= ((Time.now - current_tenants.first.created_at) / 86400).to_i %> jours</p>
  </div>
  <div class="card-icon-uptodate-payments">
    <% helper_flat_current_tenants(@flat).each do |tenant| %>
      <p><i class="fas fa-phone-alt"></i><%= tenant.phone_number %></p>
    <% end %>
    <p> Ajouter si à jour des paiements </p>
  </div>
  </div>
</div>
