<% current_tenant = helper_flat_current_tenant(@flat) %>
<div class="card-locataire">
  <% if current_tenant.user&.photo&.attached? %>
    <%= cl_image_tag current_tenant.user.photo.key, class: 'avatar-extra-large' %>
  <% else %>
    <%= image_tag ("avatar.png"), class: "avatar-extra-large" %>
  <% end %>
  <div class="card-name-locataire">
    <h4><%= current_tenant.user.first_name %> <%= current_tenant.user.last_name %></h4>
    <p>Locataire depuis <%= ((Time.now - current_tenant.created_at) / 86400).to_i %> jours</p>
  </div>
  <div class="card-icon-uptodate-payments">
    <p><i class="fas fa-phone-alt"></i><%= current_tenant.user.phone_number %></p>
    <p> Ajouter si à jour des paiements </p>
  </div>
  </div>
</div>
