<div id="disposition-card-one">
  <div id="disposition-one-left-top">
    <div class="card-trip">
      <%= render "shared/carousel_show" %>
    </div>
  </div>
  <div id="disposition-one-left-bottom">
    <div id="message-board">
      <div id="feed-message-board">
        <span class="placeholder-message-board"><p>Champ où va apparaître les messages </p></span>
      </div>
      <div id="create-message-board">
        <p>Ecrire un message ou répondre</p>
      </div>
    </div>
  </div>
  <div id="disposition-one-right-top">
      <h4>Documents de mon appartement</h4>
      <div id="documents-list">
        <%= link_to 'Bail', '#', class: 'button-sign-home documents-button' %>
        <%= link_to'#', class: 'button-sign-home documents-button' do %><p >Etat des lieux</p><% end %>
        <%= link_to'#', class: 'button-sign-home documents-button' do %><p >Quittances</p><% end %>
        <%= link_to'#', class: 'button-sign-home documents-button' do %><p >Autres</p><% end %>
      </div>
  </div>
  <div id="disposition-one-right-bottom">
    <%= render "shared/show_flat/card_locataire" %>
  </div>
</div>
