<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162093699-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-162093699-1');
  </script>
  <!-- End Google Analytics -->
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W9GZK59');
  </script>
  <!-- End Google Tag Manager -->
  <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
  <title><%= meta_title %></title>
  <meta name="description" content="<%= meta_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= meta_title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= meta_image %>" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:description" content="<%= meta_description %>" />
  <meta property="og:site_name" content="https://www.koobo.co" />
  <!-- Twitter Card data -->
  <!--     <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%#= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:title" content="<%#= meta_title %>">
  <meta name="twitter:description" content="<%#= meta_description %>">
  <meta name="twitter:creator" content="<%#= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:image:src" content="<%#= meta_image %>"> -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <%= favicon_link_tag asset_path('logo.png') %>
</head>
