<!DOCTYPE html>
<html>
  <% if current_page?(root_path) %>
    <%= render 'layouts/home_header' %>
  <% else %>
    <%= render 'layouts/header' %>
  <% end %>
  <body data-user-id="<%= current_user&.id %>">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9GZK59"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
