<!DOCTYPE html>
<html>
  <% if current_page?(root_path) %>
    <%= render 'layouts/home_header' %>
  <% else %>
    <%= render 'layouts/header' %>
  <% end %>
  <body data-user-id="<%= current_user&.id %>">
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>