<!DOCTYPE html>
<html>
  <% if current_page?(root_path) %>
    <%= render 'layouts/home_header' %>
  <% else %>
    <%= render 'layouts/header' %>
  <% end %>
  <body data-user-id="<%= current_user&.id %>">

    <!-- Facebook OMNIAUTH -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : ENV['FB_ID'],
          cookie     : true,
          xfbml      : true,
          version    : ENV['FB_SECRET']
        });

        FB.AppEvents.logPageView();

      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- END Facebook OMNIAUTH -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9GZK59"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
